<!--Header-->
<%- include ('../partials/head.html') %>

<!-- Navigation-->
<%- include ('../partials/navigation.html') %>
<body>

	


		<!-- content 
			================================================== -->
		<div id="content">

			<div class="mission">
				<div class="container">
					<div class="row">
						
						<div class="col-md-6">

							<h1 class="leftmain-title">Nuestra Compañia</h1>
							<div class="leftmain-border"></div>

							<div class="right-about">
								<p>
									Somos una empresa con más de 18 años de experiencia en el mercado. Cenix apoya el crecimiento del sector impulsando a sus clientes y proveedores generando nuevas oportunidades, por medio de la innovación, investigación y desarrollo, generando valor agregado a sus productos y servicios.  Prestamos consultoría y soluciones en los sectores de TIC´s, seguridad electronica, edificios inteligentes, movilidad, seguridad vial, comunicaciones, software, entre otros; en las áreas de desarrollo de software, cableado estructurado, ingeniería, energía, diseño, telecomunicaciones, sistemas de seguridad y automatización, servicios de soporte, mantenimiento y operación.  
								</p>


							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- End Mission -->
					<!-- our work single -->
					<div class="single-work">
				
						<div class="container">
						
							<div class="row">
		
								<div class="port-left col-md-8">
									<div class="flexslider">
										<ul class="slides">
											<li>
												<img alt="" src="images/Logo Cenix Modificado PM.jpg" />
											</li>
										</ul>
									</div>
								</div>
		
								<div class="port-right col-md-4">
									
									<div class="post-pag">
										<a href="#" class="prevpost"><i class="fa fa-angle-left"></i></a>
										<a href="#" class="middle"><i class="fa fa-th"></i></a>
										<a href="#" class="nextpost"><i class="fa fa-angle-right"></i> </a>
										<div class="clear"></div>
									</div>
									
									<h1 class="leftmain-title">Misión</h1>
									<div class="leftmain-border"></div>
		
									<p class="mb20">
										Proveer a nuestros clientes soluciones en el sector de las TIC’s apoyados con productos de marcas reconocidas, servicio excepcional, y capacidad técnica de primera, que satisfaga técnica y económicamente las exigencias del mercado
									</p>
		
									<h1 class="leftmain-title">Misión</h1>
									<div class="leftmain-border"></div>
			
									<p class="mb20">Ser reconocida en el mercado regional, nacional y más allá de nuestras fronteras como una Empresa líder e innovadora en soluciones en el sector de las TIC’s </p>
			
										
									
		
								</div>	
							</div>
									
						</div>
						<!-- End Portfolio -->
		
					</div>
					<!-- end our work single -->


			<div class="carou-team brown-bg" >
				<div class="container"
				>
					<h1 class="main-title">Nuestro Equipo</h1>
					<div class="main-border"></div>
					<p class="main-subtitle">Conoce nuestro equipo profesional</p>

					<div class="list_carousel2 responsive" style="
					position: relative;
					left:15%;
					">
						<ul id="foo1" 
						style="
						display: flex;
						gap:10px;
						align-content: space-between;
						flex-direction: column;
						">

							<div class="perfilesSuperiores" style="
							display: flex;
							gap:10px;
							">
								<li>
									<div class="formatPerfilPhotos overlay">
										<img src="images/Personal/Gabriel Ochoa.JPG"  alt="" />
										<div class="mask">	

										<div class="team-detail">
											<h3>Gabriel Ochoa</h3>
											<span>Presidente de la compañia</span>
										</div>

											<ul class="team-socs">
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											</ul>
										</div>

									</div>
								</li>
								<li>
									<div class="formatPerfilPhotos overlay">
										<img src="images/Personal/Pablo Macias.jpg" alt="" />
										<div class="mask">	
										
										<div class="team-detail">
											<h3>Pablo Macias.jpg</h3>
											<span>Líder de proyectos</span>
										</div>

											<ul class="team-socs">
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-skype"></i></a></li>
											</ul>
										</div>

									</div>
								</li>
								<li>
									<div class="formatPerfilPhotos overlay">
										<img src="images/Personal/Pablo Camacho.JPG" alt="" />
										<div class="mask">	
										
										<div class="team-detail">
											<h3>Pablo Camacho</h3>
											<span>Ingeniero de desarrollo</span>
										</div>

											<ul class="team-socs">
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-skype"></i></a></li>
											</ul>
										</div>

									</div>
								</li>
							</div>
							<div class="perfilesInferiores"  style="
							display: flex;
							gap:10px;
							">
								<li>
									<div class="formatPerfilPhotos overlay">
										<img src="images/Personal/Sergio Bustos.jpg" alt="" />
										 <div class="mask">	
										 
										   <div class="team-detail">
											   <h3>Sergio Bustos</h3>
											   <span>Lider de desarrollo</span>
										   </div>
	
											   <ul class="team-socs">
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-skype"></i></a></li>
											</ul>
										</div>
	
									</div>
								</li>
								<li>
									<div class="formatPerfilPhotos overlay">
										<img src="images/Personal/Ronal Erazo.jpg" alt="" />
										 <div class="mask">	
										 
										   <div class="team-detail">
											   <h3>Ronal Erazo</h3>
											   <span>Ingeniero de redes</span>
										   </div>
	
											   <ul class="team-socs">
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-skype"></i></a></li>
											</ul>
										</div>
	
									</div>
								</li>
								<li>
									<div class="formatPerfilPhotos overlay">
										<img src="images/Personal/Javier Calles1.jpg" alt="" />
										 <div class="mask">	
										 
										   <div class="team-detail">
											   <h3>Javier Calles</h3>
											   <span>Lider de infrastructura</span>
										   </div>
	
											   <ul class="team-socs">
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-skype"></i></a></li>
											</ul>
										</div>
	
									</div>
								</li>
							</div>
							<li>
								<div class="formatPerfilPhotos overlay">
									<img src="images/Personal/Oscar Romero1.jpg" alt="" />
									 <div class="mask">	
									 
									   <div class="team-detail">
										   <h3>Oscar Romero</h3>
										   <span>Ingeniero de infrastructura</span>
									   </div>

										   <ul class="team-socs">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>

								</div>
							</li>						
						</ul>
					</div>
					<!-- End List Carousel -->
				</div>
			</div>


			<div class="clients white-bg">

				<div class="container">
					<h1 class="main-title">About Our Company</h1>
					<div class="main-border"></div>
					<p class="main-subtitle">What People Say About Us</p>
				
					
					<div class="testimonials">
						<ul class="bxslider">
				          <li>
				          		<div class="test-content">
						            “I have never seen such a great quality. Good luck and keep it up! Now i’m going to rate this item 5 stars. Because it’s awesome”
						            <p><span>Alexander Samokhin</span> | CEO of company AS Design Group</p>
					            </div>
				          </li>
				          <li>
					            <div class="test-content">
						            “This HTML Theme is just awesome! I’ve never seen such a great design and attention to details. I will buy this template 999 times. Coz I think the author of this template deserve it!”
						            <p><span>Astrit Bublaku</span> | MANAGER at Kikirik</p>
					            </div>
				          </li>
				        </ul>
					</div>
				</div>
			</div>
			<!-- End Testimonials -->

			<hr>
			<div class="partners">

				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/chivor.JPG" id="responsive-image" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/ABB.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/costera.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/bolivar.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/postobon.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/iber.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/coches.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/fede.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-6">
							<a href="#"><img src="images/partners/braun.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>

			<div class="history brown-bg">
				<div class="container">

				<h1 class="main-title">Historia de la compañia</h1>
				<div class="main-border"></div>
				<p class="main-subtitle">Permítanos contarle nuestra historia</p>
						
					<div class="timeline animated">
				      	<div class="timeline-row">
					        <div class="timeline-time">
					         2004
					        </div>
					        <div class="timeline-icon">
					          <div class="bg">
					            <i class="fa fa-circle-o"></i>
					          </div>
					        </div>
					        <div class="panel timeline-content">
					          <div class="panel-body">
					            <h2>
					              Fundación de la compañia
					            </h2>
					            <p>
					              Se funda la empresa enfocada en prestar servicios tecnologicos de alta calidad.
					            </p>
					          </div>
					        </div>
				      	</div>
					      <div class="timeline-row">
					        <div class="timeline-time">
					          2004
					        </div>
					        <div class="timeline-icon">
					          <div class="bg">
					            <i class="fa fa-circle-o"></i>
					          </div>
					        </div>
					        <div class="panel timeline-content">
					          <div class="panel-body">
					            <h2>
					              Creación de area de infrastructura 
					            </h2>
					            <p>
					              Se crea el grupo enfocado en diseñar e implementar infrastructra de alta calidad, cumpliendo con las normas nacionales e internacionales
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="timeline-row">
					        <div class="timeline-time">
					          2012
					        </div>
					        <div class="timeline-icon">
					          <div class="bg">
					            <i class="fa fa-circle-o"></i>
					          </div>
					        </div>
					        <div class="panel timeline-content">
					          <div class="panel-body">
					            <h2>
					              Creación del area de desarrollo hadware
					            </h2>
					            <p>
					              Se inicia el diseño y construcción de hadware 
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="timeline-row">
					        <div class="timeline-time">
					          2018
					        </div>
					        <div class="timeline-icon">
					          <div class="bg">
					            <i class="fa fa-circle-o"></i>
					          </div>
					        </div>
					        <div class="panel timeline-content">
					          <div class="panel-body">
					            <h2>
					              Inicio grupo de desarollo 
					            </h2>
					            <p>
					              Se inicia la rama de negocio enfocada en el desarrollo de software, ingresando en las areas de transporte y sistemas SCADA de alta complejidad
					            </p>
					          </div>
					        </div>
					      </div>
				    </div>

				</div>
			</div>
			<!-- End History -->


		</div>
		<!-- End content -->

        <!-- End Container -->

<%- include ('../partials/footer.html') %>
