<!--Header-->
<%- include ('../partials/head.html') %>
<!-- Navigation-->
<%- include ('../partials/navigation.html') %>


		<!-- content 
			================================================== -->
		<div id="content" style="padding-top: 10%;">
			

			<!-- our work single -->
			<div class="single-work">
				
				<div class="container">
				
					<div class="row">

						<div class="port-left col-md-8">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<img alt="" src="upload/portfolio/port1.jpg" />
									</li>
									<li>
										<img alt="" src="upload/portfolio/port1.jpg" />
									</li>
								</ul>
							</div>
						</div>

						<div class="port-right col-md-4">
							
						
							
							<h1 class="leftmain-title">Description</h1>
							<div class="leftmain-border"></div>

							<p class="mb20">Jomelle is a simple and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template.</p>

							<p><strong>Date:</strong>04 January 2014</p>
							<p><strong>Client:</strong>Envato</p>
							<p><strong>Category:</strong>Design</p>

							<a href="#" class="continue mb30 mt30">View Project <i class="fa fa-angle-right"></i></a>

							<ul class="port-socials">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>

						</div>	
					</div>
							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work single -->

			<div class="recent-projects">
				<h1 class="main-title">Recent Projects</h1>
				<div class="list_carousel responsive">
					<ul id="foo4">
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent1.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent2.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent3.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent4.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent5.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent1.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent2.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent3.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent4.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent5.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
					</ul>
					<div class="clearfix"></div>
					<a id="prev3" class="prev" href="#">&lt;</a>
					<a id="next3" class="next" href="#">&gt;</a>
				</div>
				<!-- End List Carousel -->
			</div>
			<!-- End Latest Projects -->

			<div class="impression brown-bg">
				<div class="container">
					<h1>Are You Impressed?</h1>
					<p>This is call to action area. You can put any important text here</p>
					<a href="#" class="button-def">Get Started</a>
				</div>
			</div>


		</div>
		<!-- End content -->

<%- include ('../partials/footer.html') %>
