<!--Header-->
<%- include ('../partials/head.html') %>

<!-- Navigation-->
<%- include ('../partials/navigation.html') %>

		<!-- content 
			================================================== -->
		<div id="content"style="padding-top: 10%;" >
			

			<!-- our work single -->
			<div class="single-work">
				
				<div class="container">
				
					<div class="row">

						<div class="port-left col-md-8">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<img alt="" src="images/Logos/LOGO CYGNUS MODIFICADO.jpg" />
									</li>
								</ul>
							</div>
						</div>

						<div class="port-right col-md-4">
							
							<div class="post-pag">
								<a href="#" class="prevpost"><i class="fa fa-angle-left"></i></a>
								<a href="#" class="middle"><i class="fa fa-th"></i></a>
								<a href="#" class="nextpost"><i class="fa fa-angle-right"></i> </a>
								<div class="clear"></div>
							</div>
							
							<h1 class="leftmain-title">Descripción</h1>
							<div class="leftmain-border"></div>

							<p class="mb20">Presta asesoría en desarrollo, implementación y mejoras en sistemas de software  específicos.
								La empresa cuenta con Ingenieros y Técnicos capacitados para la selección de productos de hardware y software adecuados para cada necesidad.</p>

							
							<ul class="port-socials">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>

						</div>	
					</div>
							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work single -->

			
			<div class="features3 brown-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="feat3-item">
								<i class="fa fa-microphone"></i>
								<h3>Capacitación sobre el código</h3>
								<p>-Arquitectura de la aplicación</p>
									<p>-Lineamiento de desarrollo
										</p>
								
							</div>
						</div>
						<div class="col-md-4">
							<div class="feat3-item">
								<i class="fa fa-gears"></i>
								<h3>Entrega del código fuente</h3>
								<p>-Entrega de la versión funcional</p>
								<p>-Código documentado</p>
								
							</div>
						</div>
						<div class="col-md-4">
							<div class="feat3-item">
								<i class="fa fa-pencil-square-o"></i>
								<h3>Capacitación en herramientas</h3>
								<p>-Usuario de carga</p>
								<p>-Herramienta de descarga</p>
								<p>-Lineamientos de actualización</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- End Latest Projects -->

	

		</div>
		<!-- End content -->
<%- include ('../partials/footer.html') %>
