<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jomelle</title>

	<meta charset="utf-8">

	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:600,600italic,300italic,700italic,700,200,400,200italic,400italic,900,300' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">	

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="css/fullwidth.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />

	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">
	
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">



</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix" id="home">
			<!-- Static navbar -->
			<nav class="navbar navbar-default navbar-static-top">
				<div class="top-line">
					<div class="container">
						<div class="row">
							<ul class="top-socials col-md-4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
							<ul class="top-info col-md-5 col-md-offset-3">
								<li><a href="#"><i class="fa fa-envelope"></i>hello@samokhinteam.ru</a></li>
								<li><p><i class="fa fa-phone"></i>+1 (800) 5260 888 52 63</p></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end topline -->
				<nav class="navigation">
					<div class="container">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div>

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="drop"><a href="index.html">Home</a>
									<ul class="drop-down">
										<li><a href="home-creative.html">Home Creative 1</a></li>
										<li><a href="home-creative2.html">Home Creative 2</a></li>
										<li><a href="home-agency1.html">Home Agency 1</a></li>
										<li><a href="home-agency2.html">Home Agency 2</a></li>
										<li><a href="home-Landing.html">Home Landing</a></li>
									</ul>
								</li>
								<li class="drop"><a href="services.html">Services</a>
									<ul class="drop-down">
										<li class="drop"><a href="#">Go to Level 3</a>
											<ul class="drop-down level3">
												<li><a href="#">Level 3</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="about.html">About Us</a></li>
								<li class="drop"><a href="#">Portfolio</a>
									<ul class="drop-down">
										<li><a href="portfolio-single.html">Portfolio Single</a></li>
										<li><a href="portfolio2column.html">Portfolio 2 Column</a></li>
										<li><a href="portfolio3column.html">Portfolio 3 Column</a></li>
										<li><a href="portfolio4column.html">Portfolio 4 Column</a></li>
									</ul>
								</li>
								<li class="drop active"><a href="blog.html">Blog</a>
									<ul class="drop-down">
										<li><a href="blog-single.html">Blog Single</a></li>
									</ul>
								</li>
								<li class="drop"><a href="#">Pages</a>
									<ul class="drop-down">
										<li><a href="shortcodes.html">Shortcodes</a></li>
										<li><a href="typography.html">Typography</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="pricing.html">Pricing</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><div id="search">
									<img src="images/search.png" class="trigger" alt=""> 
								    <div class="search-bar">
								    <form action="#">
									    <input type="text" class="searchbox" placeholder="Search">
										<input type="submit" value="Go">
								    </form>      
									</div>
								</div></li>
							</ul>

						
						</div>
					</div>
				</nav>
			</nav>
		</header>
		<!-- End Header -->

		<div class="banner banner3">
			<div class="container">
				<h4>Blog</h4>
				<div class="site_map">
					<a href="index.html">Home</a> / Blog
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<!-- content 
			================================================== -->
		<div id="content">

			<div class="blog-page container">
				<div class="row">
					<!-- Blog Posts -->
					<div class="col-lg-8 blog-posts">

						<!-- Blog Item -->
						<div class="blog-item">
							<div class="row">
								<div class="col-sm-12">
									<div class="blog-img mb40">
										<a href="#"><img src="upload/blog/blog1.jpg" alt=""></a>
									</div>
									<h1>Jomelle is a simple and elegant. Standard post</h1>
									<div class="post-meta">
										<div class="post-user">
											<i class="fa fa-user"></i>
											<a href="#">John Doe</a>
										</div>
										<div class="post-date">
											<i class="fa fa-clock-o"></i>
											<a href="#">24 March, 2014</a>
										</div>
										<div class="post-folder">
											<i class="fa fa-folder-open"></i>
											<a href="#">Design</a>
										</div>
										<div class="post-comment">
											<i class="fa fa-comment"></i>
											<a href="#">15 Comments</a>
										</div>
										<div class="clear"></div>
									</div>
									<p>Jomelle is a simple and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
									<a href="#" class="continue">Continue Reading <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- End Blog Item -->

						<!-- Blog Item -->
						<div class="blog-item">
							<div class="row">
								<div class="col-sm-12">
									<div class="blog-img mb40">
										<div class="flexslider">
											<ul class="slides">
												<li>
													<img alt="" src="upload/blog/blog2.jpg" />
												</li>
												<li>
													<img alt="" src="upload/blog/blog1.jpg" />
												</li>
											</ul>
										</div>
									</div>
									<h1>Jomelle is a simple and elegant. Gallery post</h1>
									<div class="post-meta">
										<div class="post-user">
											<i class="fa fa-user"></i>
											<a href="#">John Doe</a>
										</div>
										<div class="post-date">
											<i class="fa fa-clock-o"></i>
											<a href="#">24 March, 2014</a>
										</div>
										<div class="post-folder">
											<i class="fa fa-folder-open"></i>
											<a href="#">Design</a>
										</div>
										<div class="post-comment">
											<i class="fa fa-comment"></i>
											<a href="#">15 Comments</a>
										</div>
										<div class="clear"></div>
									</div>
									<p>Jomelle is a simple and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
									<a href="#" class="continue">Continue Reading <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- End Blog Item -->

						<!-- Blog Item -->
						<div class="blog-item">
							<div class="row">
								<div class="col-sm-12">
									<div class="blog-video mb40">
										<iframe class="videoembed" src="http://www.youtube.com/embed/jwZUjdImZGk"></iframe>
									</div>
									<h1>Jomelle is a simple and elegant. Standard post</h1>
									<div class="post-meta">
										<div class="post-user">
											<i class="fa fa-user"></i>
											<a href="#">John Doe</a>
										</div>
										<div class="post-date">
											<i class="fa fa-clock-o"></i>
											<a href="#">24 March, 2014</a>
										</div>
										<div class="post-folder">
											<i class="fa fa-folder-open"></i>
											<a href="#">Design</a>
										</div>
										<div class="post-comment">
											<i class="fa fa-comment"></i>
											<a href="#">15 Comments</a>
										</div>
										<div class="clear"></div>
									</div>
									<p>Jomelle is a simple and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
									<a href="#" class="continue">Continue Reading <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- End Blog Item -->

						<!-- Blog Item -->
						<div class="blog-item">
							<div class="row">
								<div class="col-sm-12">
									<blockquote>
										<div class="thojz">“</div>
										Darkness cannot drive out darkness: only light can do that. Hate cannot drive out hate: only love can do that.  
										<span>— Marilyn Monroe</span>
									</blockquote>
									<div class="post-meta brown-bg pd20">
										<div class="post-user">
											<i class="fa fa-user"></i>
											<a href="#">John Doe</a>
										</div>
										<div class="post-date">
											<i class="fa fa-clock-o"></i>
											<a href="#">24 March, 2014</a>
										</div>
										<div class="post-folder">
											<i class="fa fa-folder-open"></i>
											<a href="#">Design</a>
										</div>
										<div class="post-comment">
											<i class="fa fa-comment"></i>
											<a href="#">15 Comments</a>
										</div>
										<a href="#" class="continue right">Continue Reading <i class="fa fa-angle-right"></i></a>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Blog Item -->

						<!-- Blog Item -->
						<div class="blog-item">
							<div class="row">
								<div class="col-sm-12">
									<h1>Jomelle is a simple and elegant. Text only post</h1>
									<div class="post-meta">
										<div class="post-user">
											<i class="fa fa-user"></i>
											<a href="#">John Doe</a>
										</div>
										<div class="post-date">
											<i class="fa fa-clock-o"></i>
											<a href="#">24 March, 2014</a>
										</div>
										<div class="post-folder">
											<i class="fa fa-folder-open"></i>
											<a href="#">Design</a>
										</div>
										<div class="post-comment">
											<i class="fa fa-comment"></i>
											<a href="#">15 Comments</a>
										</div>
										<div class="clear"></div>
									</div>
									<p>Jomelle is a simple and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
									<a href="#" class="continue">Continue Reading <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- End Blog Item -->

						<div class="pagenation clearfix">
							<ul>
								<li><a href="#">PREVIOUS</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">NEXT</a></li>
							</ul>
						</div>

					</div>
					<!-- End Blog Posts -->

					<aside class="col-lg-4">

							<div class="search mb30">
								<input type="text" placeholder="Search">
								<input type="submit" value="">
							</div>

							<div class="aside-categories">
								<h1>Categories</h1>
								<ul>
									<li>
										<a href="#">Design (5)</a>
									</li>
									<li>
										<a href="#">Nice typography (10)</a>
									</li>
									<li>
										<a href="#">Photography (26)</a>
									</li>
									<li>
										<a href="#">Business (59)</a>
									</li>
									<li>
										<a href="#">Life style (13)</a>
									</li>
								</ul>
							</div>
							<!-- end aside categories -->
							<div class="tabs-widget clearfix tabs-second">
					    		<ul class="tab-links clearfix">
					    			<li class="active"><a href="#popular-tab">Popular</a></li>
					    			<li class=""><a href="#recent-tab">Recent</a></li>
					    		</ul>

					    		<div id="popular-tab" style="display: block;">
					    			<ul>
					    				<li>
					    					<a href="#"><img alt="" src="upload/tab-img1.jpg"></a>
					    					<p>Jomelle lorem ipsum is a simple and elegant</p>
					    					<span><i class="fa fa-clock-o"></i>24 March, 2014</span>
					    				</li>
					    				<li>
					    					<a href="#"><img alt="" src="upload/tab-img2.jpg"></a>
					    					<p>Jomelle lorem ipsum is a simple and elegant</p>
					    					<span><i class="fa fa-clock-o"></i>24 March, 2014</span>
					    				</li>
					    			</ul>
					    		</div>

					    		<div id="recent-tab" style="display: none;">
					    			<ul>
					    				<li>
					    					<a href="#"><img alt="" src="upload/tab-img1.jpg"></a>
					    					<p>Jomelle lorem ipsum is a simple and elegant</p>
					    					<span><i class="fa fa-clock-o"></i>24 March, 2014</span>
					    				</li>
					    				<li>
					    					<a href="#"><img alt="" src="upload/tab-img2.jpg"></a>
					    					<p>Jomelle lorem ipsum is a simple and elegant</p>
					    					<span><i class="fa fa-clock-o"></i>24 March, 2014</span>
					    				</li>

					    			</ul>
					    		</div>

							</div>
							<!-- End Tabs -->

							<div class="photo-feed">
								<h1>Flickr Strean</h1>
								<ul class="row">
									<li class="col-sm-3"><a href="#"><img src="upload/photo-feed1.jpg" alt=""></a></li>
									<li class="col-sm-3"><a href="#"><img src="upload/photo-feed2.jpg" alt=""></a></li>
									<li class="col-sm-3"><a href="#"><img src="upload/photo-feed3.jpg" alt=""></a></li>
									<li class="col-sm-3"><a href="#"><img src="upload/photo-feed4.jpg" alt=""></a></li>
								</ul>
								<ul class="row">
									<li class="col-sm-3"><a href="#"><img src="upload/photo-feed5.jpg" alt=""></a></li>
									<li class="col-sm-3"><a href="#"><img src="upload/photo-feed6.jpg" alt=""></a></li>
									<li class="col-sm-3"><a href="#"><img src="upload/photo-feed7.jpg" alt=""></a></li>
									<li class="col-sm-3"><a href="#"><img src="upload/photo-feed8.jpg" alt=""></a></li>
								</ul>
							</div>

							<div class="tags clearfix">
								<h1>Tags</h1>
								<ul>
									<li><a href="#">design</a></li>
									<li><a href="#">development</a></li>
									<li><a href="#">minimal</a></li>
									<li><a href="#">multipurpose</a></li>
									<li><a href="#">creative</a></li>
									<li><a href="#">life</a></li>
									<li><a href="#">seo</a></li>
									<li><a href="#">adverticement</a></li>
								</ul>
							</div>

						</aside>
						<!-- End Sidebar -->

				</div>
			</div>

		</div>
		<!-- End content -->

		<!-- footer 
			================================================== -->
		<footer>
			<div class="inner-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 f-about">
							<h3>About Us</h3>
							<p>We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power.</p>
						</div>

						<div class="col-md-3 l-posts">
							<h3>Latest Posts</h3>
							<ul>
								<li>
									<div class="post-text">
										<h5>Jomelle is a simple and flexible</h5>
										<span>24 March, 2014  |  <a href="#">15 Comments</a></span>
									</div>
									<div class="clear"></div>
								</li>
								<li>
									<div class="post-text">
										<h5>Try our perfect solution right now</h5>
										<span>24 March, 2014  |  <a href="#">15 Comments</a></span>
									</div>
									<div class="clear"></div>
								</li>
							</ul>
						</div>

						<div class="col-md-3 f-contact">
							<h3>Get in touch</h3>
							<p><i class="fa fa-map-marker"></i>Little Lonsdale St, Talay <br>
							Victoria 8011 Philippines</p>
							<p><i class="fa fa-phone"></i> 1 888 2254 368 12 55</p>
							<a href="#"><i class="fa fa-envelope"></i>samokhinteam@gmail.com</a>
						</div>

						<div class="col-md-3 newsletter">
							<h3>Subscribe</h3>
							<p>Subscribe for updates to recieve fresh news. <br>
							No spam. We promise.</p>

							<form action="#">
								<input type="text" placeholder="Enter your E-mail">
								<input type="submit" value="">
							</form>

						</div>
					</div>
				</div>				

			</div>
			<!-- end contanir & inner-footer -->
			<div class="last-div">
				<div class="container">
					<div class="row">
						<div class="copyright">
							© 2014 Jomelle  | <a href="#">Designed by Alexander Samokhin</a>
						</div>

						<div id="back-to-top">
				          <a href="#top">Back to Top</a>
				        </div>


						<ul class="foot-socials">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
						</ul>
						<div class="clear"></div>
					</div>

				</div>
			</div>
		</footer>
		<!-- End footer -->

	
        </div>
        <!-- End Container -->



	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>
	<script type="text/javascript" src="js/waypoint.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>


     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

	

</body>
</html>