<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jomelle</title>

	<meta charset="utf-8">

	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:600,600italic,300italic,700italic,700,200,400,200italic,400italic,900,300' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">	

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="css/fullwidth.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />

	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">
	
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">



</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
			<header class="clearfix" id="home">
				<!-- Static navbar -->
				<nav class="navbar navbar-default navbar-static-top">
					<div class="top-line">
						<div class="container">
							<div class="row">
								<ul class="top-socials col-md-4">
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-skype"></i></a></li>
								</ul>
								<ul class="top-info col-md-5 col-md-offset-3">
									<li><a href="#"><i class="fa fa-envelope"></i>soporte@cenix.com.co</a></li>
									<li><p><i class="fa fa-phone"></i>+57 2810714</p></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end topline -->
					<nav class="navigation">
						<div class="container">
							<div class="logo">
								<a href="index.html"><img src="images/logo.png" alt=""></a>
							</div>
	
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li class="drop"><a href="index.html">Nuestra Empresa</a>
										<ul class="drop-down">
											<li><a href="about.html">Quienes Somos?</a></li>									
										</ul>
									</li>
									<li class="drop"><a href="services.html">Unidades de Negocio</a>
										<ul class="drop-down">
											<li><a href="software.html">Software</a></li>
											<li><a href="soluciones.html">Gestión y desarrollo de proyectos</a></li>
											<li><a href="proyectos.html">Proyectos</a></li>
											<li><a href="mantenimiento.html">Mantenimiento</a></li>
											</ul>
									</li>
									<li class="active drop"><a href="contact.html">Contacto</a></li>
									<li><div id="search">
										<img src="images/search.png" class="trigger" alt=""> 
										<div class="search-bar">
										<form action="#">
											<input type="text" class="searchbox" placeholder="Search">
											<input type="submit" value="Go">
										</form>      
										</div>
									</div></li>
								</ul>
	
							
							</div>
						</div>
					</nav>
				</nav>
			</header>s
		<!-- End Header -->

		

		<!-- content 
			================================================== -->
		<div id="content">
			

			<div class="contact-content">

				<div class="contact">
					<div class="container">

						<div class="row">

							<div class="col-md-8">
								<form id="contact-form" action="#">
									<input name="name" id="name" type="text" placeholder="Nombre">

									<input name="mail" id="mail" type="text"  placeholder="Email">

									<input name="subject" id="subject" type="text"  placeholder="Tema">	

									<textarea name="comment" id="comment"  placeholder="Mensaje"></textarea>

				  					<input type="submit" value="Enviar"  id="submit_contact">
					  				<div id="msg" class="message"></div>
					  			</form>
							</div>
							<!-- end contactfort -->
							<div class="col-md-4 touch">

								<h1 class="leftmain-title">Ponerse en contacto</h1>
								<div class="leftmain-border"></div>

								<p>Horario comercial: 8:00 – 17:00 <br>
									Lunes a sábado <br>
									Día libre - Domingo</p>
								<br>
								
								
								<p> <i class="fa fa-map-marker"></i> Colombia, Bogotá <br>Carrera 24# 38b - 25  oficina 203 Edificio la Soledad</p>

								<p><i class="fa fa-phone"></i>Telefono:  + 571 2810714 </p>

								<a href="#"><i class="fa fa-envelope"></i>Email: soporte@cenix.com.co</a>


								<ul class="contact-socials mt30">
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-skype"></i></a></li>
								</ul>

							</div>
						</div>
					</div>

				</div>

			
				<!-- End Map -->


			</div>
			<!-- End Contact Content -->


		</div>
		<!-- End content -->

		<!-- footer 
			================================================== -->
			<footer>
				<div class="inner-footer">
					<div class="container">
						<div class="row">
							<div class="col-md-3 f-about">
								<h3>Sobre nosotros</h3>
								<p>Es una empresa con mas de 16 años  de experiencia en el mercado.Ofrece el servicio de planificación y gestión de infraestructura  en el sector de las TICS.</p>
							</div>
							<div class="col-md-3 f-contact">
								<h3>Contacto</h3>
								<p><i class="fa fa-map-marker"></i>Bogotá, Colombia <br>
								Carrera 24 # 39b - 25 Oficina 203</p>
								<p><i class="fa fa-phone"></i> +571 281 0714</p>
								<a href="#"><i class="fa fa-envelope"></i>soporte@cenix.com.co</a>
							</div>
						</div>
					</div>				
	
				</div>
				<!-- end contanir & inner-footer -->
				
			</footer>
		<!-- End footer -->

	
        </div>
        <!-- End Container -->




	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>
	<script type="text/javascript" src="js/waypoint.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="js/gmap3.min.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/script.js"></script>


	

</body>
</html>