<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jomelle</title>

	<meta charset="utf-8">

	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:600,600italic,300italic,700italic,700,200,400,200italic,400italic,900,300' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">	

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="css/fullwidth.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />

	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">
	
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">



</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix" id="home">
			<!-- Static navbar -->
			<nav class="navbar navbar-default navbar-static-top">
				<div class="top-line">
					<div class="container">
						<div class="row">
							<ul class="top-socials col-md-4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
							<ul class="top-info col-md-5 col-md-offset-3">
								<li><a href="#"><i class="fa fa-envelope"></i>hello@samokhinteam.ru</a></li>
								<li><p><i class="fa fa-phone"></i>+1 (800) 5260 888 52 63</p></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end topline -->
				<nav class="navigation">
					<div class="container">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div>

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="drop"><a href="index.html">Home</a>
									<ul class="drop-down">
										<li><a href="home-creative.html">Home Creative 1</a></li>
										<li><a href="home-creative2.html">Home Creative 2</a></li>
										<li><a href="home-agency1.html">Home Agency 1</a></li>
										<li><a href="home-agency2.html">Home Agency 2</a></li>
										<li><a href="home-Landing.html">Home Landing</a></li>
									</ul>
								</li>
								<li class="drop"><a href="services.html">Services</a>
									<ul class="drop-down">
										<li class="drop"><a href="#">Go to Level 3</a>
											<ul class="drop-down level3">
												<li><a href="#">Level 3</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="about.html">About Us</a></li>
								<li class="drop active"><a href="#">Portfolio</a>
									<ul class="drop-down">
										<li><a href="portfolio-single.html">Portfolio Single</a></li>
										<li><a href="portfolio2column.html">Portfolio 2 Column</a></li>
										<li><a href="portfolio3column.html">Portfolio 3 Column</a></li>
										<li><a href="portfolio4column.html">Portfolio 4 Column</a></li>
									</ul>
								</li>
								<li class="drop"><a href="blog.html">Blog</a>
									<ul class="drop-down">
										<li><a href="blog-single.html">Blog Single</a></li>
									</ul>
								</li>
								<li class="drop"><a href="#">Pages</a>
									<ul class="drop-down">
										<li><a href="shortcodes.html">Shortcodes</a></li>
										<li><a href="typography.html">Typography</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="pricing.html">Pricing</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><div id="search">
									<img src="images/search.png" class="trigger" alt=""> 
								    <div class="search-bar">
								    <form action="#">
									    <input type="text" class="searchbox" placeholder="Search">
										<input type="submit" value="Go">
								    </form>      
									</div>
								</div></li>
							</ul>

						
						</div>
					</div>
				</nav>
			</nav>
		</header>
		<!-- End Header -->

		<div class="banner banner5">
			<div class="container">
				<h4>Prtfolio Single</h4>
				<div class="site_map">
					<a href="index.html">Home</a> / Prtfolio Single
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- content 
			================================================== -->
		<div id="content">
			

			<!-- our work single -->
			<div class="single-work">
				
				<div class="container">
				
					<div class="row">

						<div class="port-left col-md-8">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<img alt="" src="upload/portfolio/port1.jpg" />
									</li>
									<li>
										<img alt="" src="upload/portfolio/port1.jpg" />
									</li>
								</ul>
							</div>
						</div>

						<div class="port-right col-md-4">
							
							<div class="post-pag">
								<a href="#" class="prevpost"><i class="fa fa-angle-left"></i></a>
								<a href="#" class="middle"><i class="fa fa-th"></i></a>
								<a href="#" class="nextpost"><i class="fa fa-angle-right"></i> </a>
								<div class="clear"></div>
							</div>
							
							<h1 class="leftmain-title">Description</h1>
							<div class="leftmain-border"></div>

							<p class="mb20">Jomelle is a simple and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template.</p>

							<p><strong>Date:</strong>04 January 2014</p>
							<p><strong>Client:</strong>Envato</p>
							<p><strong>Category:</strong>Design</p>

							<a href="#" class="continue mb30 mt30">View Project <i class="fa fa-angle-right"></i></a>

							<ul class="port-socials">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>

						</div>	
					</div>
							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work single -->

			<div class="recent-projects">
				<h1 class="main-title">Recent Projects</h1>
				<div class="list_carousel responsive">
					<ul id="foo4">
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent1.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent2.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent3.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent4.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent5.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent1.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent2.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent3.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent4.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
						<li>
							<div class="overlay">
								<img src="upload/portfolio/recent5.jpg" alt="" />
							 	<a href="#"><div class="mask">
							        <div class="bottom-post">
							        	<h2>Project Title</h2>
							            <p>illustrations</p>
							        </div>
							    </div></a>

							</div>
						</li>
					</ul>
					<div class="clearfix"></div>
					<a id="prev3" class="prev" href="#">&lt;</a>
					<a id="next3" class="next" href="#">&gt;</a>
				</div>
				<!-- End List Carousel -->
			</div>
			<!-- End Latest Projects -->

			<div class="impression brown-bg">
				<div class="container">
					<h1>Are You Impressed?</h1>
					<p>This is call to action area. You can put any important text here</p>
					<a href="#" class="button-def">Get Started</a>
				</div>
			</div>


		</div>
		<!-- End content -->

		<!-- footer 
			================================================== -->
			<footer>
				<div class="inner-footer">
					<div class="container">
						<div class="row">
							<div class="col-md-3 f-about">
								<h3>Sobre nosotros</h3>
								<p>Es una empresa con mas de 16 años  de experiencia en el mercado.Ofrece el servicio de planificación y gestión de infraestructura  en el sector de las TICS.</p>
							</div>
							<div class="col-md-3 f-contact">
								<h3>Contacto</h3>
								<p><i class="fa fa-map-marker"></i>Bogotá, Colombia <br>
								Carrera 24 # 39b - 25 Oficina 203</p>
								<p><i class="fa fa-phone"></i> +571 281 0714</p>
								<a href="#"><i class="fa fa-envelope"></i>soporte@cenix.com.co</a>
							</div>
						</div>
					</div>				
	
				</div>
				<!-- end contanir & inner-footer -->
				
			</footer>
		<!-- End footer -->

	
        </div>
        <!-- End Container -->




	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>
	<script type="text/javascript" src="js/waypoint.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

 	<!-- include jQuery + carouFredSel plugin -->
    <script type="text/javascript" src="js/jquery.carouFredSel.js"></script>

    <!-- optionally include helper plugins -->
    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>

	

</body>
</html>