<!--Header-->
<%- include ('../partials/head.html') %>

<!-- Navigation-->
<%- include ('../partials/navigation.html') %>
<body>

		<!-- content 
			================================================== -->
		<div id="content">
			

			<!-- our work single -->
			<div class="single-work">
				
				<div class="container">
				
					<div class="row">

						<div class="port-left col-md-8">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<img alt="" src="images/gestion/proyectos.jpg" />
									</li>
									
								</ul>
							</div>
						</div>

						<div class="port-right col-md-4">
							
							<div class="post-pag">
								<a href="#" class="prevpost"><i class="fa fa-angle-left"></i></a>
								<a href="#" class="middle"><i class="fa fa-th"></i></a>
								<a href="#" class="nextpost"><i class="fa fa-angle-right"></i> </a>
								<div class="clear"></div>
							</div>
							
							<h1 class="leftmain-title">Servicios y mantenimiento</h1>
							<div class="leftmain-border"></div>

							<p class="mb20">Realice los mantenimientos periódicos de su infraestructura tecnológica y garantice el cumplimiento de la norma y la operación sostenible de su compañía.</p>
						</div>	
					</div>
							
				</div>
				<!-- End Portfolio -->

			</div>

			<div class="tabsat white-bg">

				<div class="container">
					<h1 class="main-title">Tipos de mantenimiento</h1>
					<div class="main-border"></div>

					<div class="row">

						<div class="col-md-6">
								
								<div class="accordion">
									<div id="accordion-container"> 
										 <h2 class="accordion-header">Energía.</h2> 
										 <div class="accordion-content"> 
											  <p>Realizar un mantenimiento, periódico y oportuno de su sistema eléctrico, permitirá hacerlo más confiable, seguro y eficiente. Conoce nuestras soluciones en energía.</p>
										 </div> 
										 <h2 class="accordion-header">Cableado Estructurado</h2> 
										 <div class="accordion-content"> 
											  <p>En referencia al servicio de mantenimiento de redes de cableado estructurado, se enfoca principalmente en realizar pruebas periódicas con equipos de escaneo de redes que garanticen su congruencia.</p>
										 </div> 
										 <h2 class="accordion-header">Telecomunicaciones</h2> 
										 <div class="accordion-content"> 
											  <p>Para toda empresa, uno de los factores más importantes es preservar la conectividad de sus instalaciones, puesto que de ella depende la correcta optimización de procesos.</p>
										 </div> 
										 <h2 class="accordion-header">Sistemas de Seguridad y Automatización</h2> 
										 <div class="accordion-content"> 
											  <p>Los sistemas de seguridad de una empresa deben garantizar sin interrupción alguna, la vigilancia, monitoreo y automatización de los procesos.</p>
										 </div> 
									</div>
								</div>
								<!-- End Accordion -->

						</div>

						<div class="col-md-6">

							<div class="tabs-widget clearfix">
								<ul class="tab-links clearfix">
									<li class="active"><a href="#mission">Predictivo</a></li>
									<li class=""><a href="#philosophy">Preventivo</a></li>
									<li class=""><a href="#results">Correctivo</a></li>
								</ul>

								<div id="mission" style="display: block;">
									<ul>
										<li>
											<p>El resultado de este mantenimiento permite tomar acciones correctivas y/o preventivas para optimizar el funcionamiento.</p>
										</li>
									</ul>
								</div>

								<div id="philosophy" style="display: none;">
									<ul>
										<li>
											<p>Un mantenimiento preventivo es la base del éxito en el mantenimiento de la infraestructura eléctrica y de telecomunicaciones.</p>
										</li>

									</ul>
								</div>

								<div id="results" style="display: none;">
									<ul>
										<li>
											<p>Brindamos a nuestros clientes tiempos de respuesta muy cortos con un equipo de alto nivel técnico con rápida y satisfactoria respuesta.</p>
										</li>

									</ul>
								</div>


							</div>
							<!-- End Tabs -->
						</div>

							
					</div>

				</div>

			</div>

			<!-- end our work single -->

		


		</div>
		<!-- End content -->


<!--FOOTER-->	
			
<%- include('../partials/footer.html'); %>
