<!--Header-->
<%- include ('../partials/head.html') %>

<!-- Navigation-->
<%- include ('../partials/navigation.html') %>
<body>
		
		<!-- content 
			================================================== -->
		<div id="content">
			

			<!-- our work single -->
			<div class="single-work">
				
				<div class="container">
				
					<div class="row">

						<div class="port-left col-md-8">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<img alt="" src="images/gestion/proyectos.jpg" />
									</li>
									
								</ul>
							</div>
						</div>

						<div class="port-right col-md-4">
							
							<div class="post-pag">
								<a href="#" class="prevpost"><i class="fa fa-angle-left"></i></a>
								<a href="#" class="middle"><i class="fa fa-th"></i></a>
								<a href="#" class="nextpost"><i class="fa fa-angle-right"></i> </a>
								<div class="clear"></div>
							</div>
							
							<h1 class="leftmain-title">Proyectos de energía y TICS</h1>
							<div class="leftmain-border"></div>

							<p class="mb20">Garantice el crecimiento y desarrollo sostenible de su compañía con soluciones integrales en infraestructura tecnológica en las áreas de energía, cableado estructurado, telecomunicaciones, sistemas de seguridad y automatización.</p>
						</div>	
					</div>
							
				</div>
				<!-- End Portfolio -->

			</div>

			<div class="benefit">
				<div class="container">
					<h1 class="main-title">Soluciones de la unidad de diseños</h1>
					<div class="main-border"></div>
					<p class="main-subtitle">Por qué nuestro producto es el mejor</p>
					<div class="row">
						<div class="col-md-4">
							<div class="ben-item">
								<div class="feat-text2 mb30">
									<i class="fa fa-headphones"></i>
									<div class="right-feat2">
										<h4>Energía</h4>
										<p>Contamos con un equipo especializado en diseños eléctricos, los cuales trabajan activamente para presentarle una propuesta atractiva y eficiente de su red eléctrica.</p>
									</div>
								</div>
							</div>
							<div class="ben-item">
								<div class="feat-text2 mb30">
									<i class="fa fa-gift"></i>
									<div class="right-feat2">
										<h4>Cableado Estructurado</h4>
										<p>Especialistas en implementar soluciones efectivas en diseño de redes de energía y datos. Conoce nuestras soluciones en Cableado Estructurado.</p>
									</div>
								</div>
							</div>
							<div class="ben-item">
								<div class="feat-text2 mb30">
									<i class="fa fa-lightbulb-o"></i>
									<div class="right-feat2">
										<h4>Telecomunicaciones</h4>
										<p>Diseño de sus redes de comunicaciones, con diseños efectivos y optimización de cada uno de los procesos.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 ben-img">
							<img src="images/gestion/soluciones.jpg" alt="">
						</div>

						<div class="col-md-4">
							<div class="ben-item2">
								<div class="feat-text2 mb30">
									<i class="fa fa-expand"></i>
									<div class="right-feat2">
										<h4>Sistemas de Seguridad y Automatización</h4>
										<p>Siempre en la vanguardia tecnológica para fortalecer su servicio y ofrecer las mejores garantías en sus instalaciones.</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<!-- end our work single -->

		


		</div>
		<!-- End content -->


<%- include ('../partials/footer.html') %>
