<!--Header-->
<%- include ('./partials/head.html') %>


<body>
<!-- Navigation-->
<%- include ('./partials/navigation.html') %>
	
		<section>
		<!-- START REVOLUTION SLIDER 4.5.95 fullwidth mode -->
		<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:600px;">
			<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:600px;height:600px;">
				<ul>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
						<!-- MAIN IMAGE -->
						<img src="images/Slider6.jpeg" alt="portfolio_img6" data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat">
						<!-- LAYERS -->
						<!-- LAYER NR. 1 -->
						<div class="tp-caption jomelle_big sft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="108" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							Enfocados en el    <span class="jomelle_big_orange">servicio</span>
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption jomelle_small skewfromleft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="200" data-speed="1000" data-start="1100" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
							Acompañamiento permanente en la implementación de sus proyectos
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption jomelle_small skewfromleft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="249" data-speed="1000" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
							Personal altamente calificado y multi disciplinario
						</div>
						<div class="tp-caption jomelle_small skewfromleft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="298" data-speed="1000" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
							Cubrimos diferentes sectores para suplir sus necesidades
						</div>

						</li>
				</ul>

				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;">
				</div>
			</div>
		</div>
		</section>
		<!-- END REVOLUTION SLIDER -->


		<!-- content 
			================================================== -->
		<div id="content">
			
			<div class="amaze">
				<div class="container">
					<h1 class="main-title">Soluciones y <span>Servicios</span></h1>
					<div class="main-border"></div>
					<div class="row">
						<div class="col-md-4">
							<div class="amaze-item">
								<img src="images/Soluciones/tics370x250.jpg" alt="">
								<h4>TIC´s</h4>
								<p>Ingenieria, diseño, desarrollo, suministro e implementación de soluciones de cableado estructurado, fibra óptica, seguridad electronica, telecomunicaciones, gestión de la información e inteligencia de negocios.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="amaze-item">
								<img src="images/Soluciones/Edificiosinteligentes370x250.jpeg" alt="">
								<h4>Edificios inteligentes</h4>
								<p>Ingenieria, diseño, desarrollo, suministro e implementación de sistemas de control de acceso, CCTV, comunicaciones, inmotica, sistemas de detección y extinción de incendios, iluminación y control de ambiente.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="amaze-item">
								<img src="images/Soluciones/Movilidad370x250.jpg" alt="">
								<h4>Movilidad</h4>
								<p>Consultoría, ingeniería y diseños de sistemas enfocados al control y monitoreo de movilidad urbana e interurbana.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="amaze-item">
								<img src="images/Soluciones/Seguridadvial370x250.jpg" alt="">
								<h4>Seguridad vial</h4>
								<p>Consultoría, ingeniería y diseños de sistemas enfocados al control, monitoreo y registro de seguridad vial.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="amaze-item">
								<img src="images/Soluciones/software370x250.jpg" alt="">
								<h4>Software</h4>
								<p>Ingenieria, diseño, desarrollo, suministro e implementación de soluciones de software ajustadas a los requerimientos de cada proyecto.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="amaze-item">
								<img src="images/Soluciones/IoT370x250.jpg" alt="">
								<h4>IoT</h4>
								<p>Ingenieria, diseño, desarrollo, suministro e implementación de soluciones enfocadas a la conectividad de las personas con su entorno tecnológico. </p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="amaze-item">
								<img src="images/Soluciones/Energia370x250.jpg" alt="">
								<h4>Energía</h4>
								<p>Ingeniería, diseño, suministro e implementación de proyectos de respaldo de energía.</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>

					<!-- our work portfolio -->
					<div class="our-work brown-bg">
				
						<div class="container">
							<h1 class="main-title">Unidades de negocio</h1>
							<div class="main-border"></div>
							<p class="main-subtitle">Contamos con una organización eficiente para cubrir las necesidades de nuestros clientes. </p>
		
							<div class="filters demo1">
								
								<div class="clear"></div>
								<div class="clearfix">
									<ul class="filter-container home-filter clearfix">
										<li class="class1">
											<div class="overlay">
												<img src="upload/portfolio/port4-1.jpg" alt="" />
												 <a href="#"><div class="mask">
													<div class="bottom-post">
														<h2>Proyectos y soluciones</h2>
														<p>Soluciones integrales las áreas de telecomunicaciones, movilidad, software, energía, cableado estructurado, sistemas de seguridad y automatización</p>
													</div>
												</div></a>
											</div>
										</li>
										<li class="class2">
											<div class="overlay">
												<img src="upload/portfolio/port4-2.jpg" alt="" />
												 <a href="#"><div class="mask">
													<div class="bottom-post">
														<h2>Servicios</h2>
														<p>Brindamos soporte, mantenimiento, operación y contamos con un centro de reparaciones.  </p>
													</div>
												</div></a>
											</div>
										</li>
										<li class="class3">
											<div class="overlay">
												<img src="upload/portfolio/port4-3.jpg" alt="" />
												 <a href="#"><div class="mask">
													<div class="bottom-post">
														<h2>Comercialización</h2>
														<p>Suministro de equipos, materiales, elementos y accesorias para redes de comunicaciones, data center, sistemas eléctricos, sistemas de seguridad, entre otros. </p>
													</div>
												</div></a>
											</div>
										</li>
										<li class="class4">
											<div class="overlay">
												<img src="upload/portfolio/port4-4.jpg" alt="" />
												 <a href="#"><div class="mask">
													<div class="bottom-post">
														<h2>iR&D</h2>
														<p>Desarrollo de soluciones de software y hardware a la medida. </p>
													</div>
												</div></a>
											</div>
										</li>
										<li class="class1">
											<div class="overlay">
												<img src="upload/portfolio/port4-8.jpg" alt="" />
												 <a href="#"><div class="mask">
													<div class="bottom-post">
														<h2>Ingenieria</h2>
														<p>Estudios, cálculos y diseños de proyectos de comunicaciones y movilidad.  </p>
													</div>
												</div></a>
											</div>
										</li>
										<li class="class2">
											<div class="overlay">
												<img src="upload/portfolio/port4-5.jpg" alt="" />
												 <a href="#"><div class="mask">
													<div class="bottom-post">
														<h2>Consultorías</h2>
														<p>Evaluación de proyectos, gestión de comprar, gestión financiera y auditoria.</p>
													</div>
												</div></a>
											</div>
										</li>

									</ul>
								</div>
							</div>
							<a href="#" class="learn-more">More works</a>
		
									
						</div>
						<!-- End Portfolio -->
		
					</div>


			<div class="container">
				<!-- Our Services -->
				<div class="services">

					<div class="row">

						<div class="col-md-3">

							<div class="service-item">
								
								<i class="fa fa-star"></i>
								<h1>Diseño de soluciones</h1>
								<p>Diseño e implementación de sistemas complejos, recursos capacitados y ceretificados.</p>
								
							</div>
							
						</div>
						<!-- end service item -->

						<div class="col-md-3">

							<div class="service-item">
								
								<i class="fa fa-gears"></i>
								<h1>Codigo de alta calidad </h1>
								<p>Implementación de lineamientos de desarrollo, codigo documentado y arquitectra definida</p>
								
							</div>
							
						</div>
						<!-- end service item -->

						<div class="col-md-3">

							<div class="service-item">
								
								<i class="fa fa-lightbulb-o"></i>
								<h1>Grandes ideas</h1>
								<p>Enfocados en la invación y desarrollo de nuevas tencnologias y sistemas.</p>
								
							</div>
							
						</div>
						<!-- end service item -->

						<div class="col-md-3">

							<div class="service-item">
								
								<i class="fa fa-support"></i>
								<h1>24/7 Soporte</h1>
								<p>Personal capacita para atención al cliente.</p>
								
							</div>
							
						</div>
						<!-- end service item -->
					</div>
					<!-- End Row -->

				</div>
				<!-- End Services -->
			</div>
			<!-- end container -->

			<!-- Features -->
			<div class="features">
				<div class="container">
					<div class="row">
						<div class="col-md-6 mb20">
							<div class="feat-img">
								<img src="images/Logos/LOGO CYGNUS MODIFICADO.jpg" alt="">
							</div>
						</div>
						<div class="col-md-6 mb20">
							<h1 class="main-title">Por que <span>somo los mejores</span></h1>
							<div class="feat-text mb30">
								<i class="fa fa-eye"></i>
								<div class="right-feat">
									<h4>Personal de alta calidad</h4>
									<p>Enfocados en el mejoramiento continuo de nuestro personal, implementación de politicas de certificacion y capacitación.</p>
								</div>
							</div>
							<div class="feat-text mb30">
								<i class="fa fa-pencil"></i>
								<div class="right-feat">
									<h4>Inovación</h4>
									<p>Implementación de nuevas tecnologias, crecimiento de nuestra area de inovación y desarrollo.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Features -->

			<!-- our work portfolio -->
			<div class="our-work">
				
				<div class="container">
					<h1 class="main-title">Ultimos proyectos</h1>
					<div class="main-border"></div>
					<p class="main-subtitle">Lo que hemos hecho</p>

					<div class="filters demo1">
						<div class="filter clearfix">
							<ul>
								<li><a href="#" class="active" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".class1">Infrastructura</a></li>
								<li><a href="#" data-filter=".class2">Sofware</a></li>
								<li><a href="#" data-filter=".class3">Consultoria</a></li>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="clearfix">
							<ul class="filter-container home-filter clearfix">
								<li class="class1">
									<div class="overlay">
									    <img src="images/Proyectos/cctv.jpg" id="responsive-image" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Acueducto de Bogotá</h2>
									            <p>Instalación y desarrollo</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class1">
									<div class="overlay">
									    <img src="images/Proyectos/chivor.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Planta energia Chivor</h2>
									            <p>Soporte y mantenimiento</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class1">
									<div class="overlay">
									    <img src="images/Proyectos/meredi.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Meredi</h2>
									            <p>Instalación y mantenimiento</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="images/Logos/LOGO CYGNUS MODIFICADO.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Concesion Costera</h2>
									            <p>Cygnus sistema de administración vial</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="images/Proyectos/analitica.png" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Acueducto de Bogotá</h2>
									            <p>Sistema analíta Scada</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="images/banner/scada.png" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Acueducto de Bogotá</h2>
									            <p>Sistema Scada soporte y mantenimiento</p>
									        </div>
									    </div></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				<!-- 	<a href="#" class="learn-more">More works</a>  -->

							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work portfolio -->


			<div class="clients">

				<div class="container">
					<h1 class="main-title">Sobre nuestra compañia</h1>
					<div class="main-border"></div>
					<p class="main-subtitle">Que dicen los cliente sobre nosotros</p>
				
					
					<div class="testimonials">
						<ul class="bxslider">
				          <li>
				          		<div class="test-content">
						            “I have never seen such a great quality. Good luck and keep it up! Now i’m going to rate this item 5 stars. Because it’s awesome”
						            <p><span>Alexander Samokhin</span> | CEO of company AS Design Group</p>
					            </div>
				          </li>
				          <li>
					            <div class="test-content">
						            “This HTML Theme is just awesome! I’ve never seen such a great design and attention to details. I will buy this template 999 times. Coz I think the author of this template deserve it!”
						            <p><span>Astrit Bublaku</span> | MANAGER at Kikirik</p>
					            </div>
				          </li>
				        </ul>
					</div>
				</div>
			</div>
			<!-- End Testimonials -->

			<div class="advantage">

				<div class="adv-title">
					<h1>Caracteristicas de nuestra compañia</h1>
				</div>

				<div class="container">
				
					<div class="row">
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-star"></i>
								<div class="right-feat">
									<h4>Diseño de sistemas complejos</h4>
									<p>Diseño, desarrollo y soporte de sistemas complejos.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-rocket"></i>
								<div class="right-feat">
									<h4>Sin limites</h4>
									<p>Personal capacita para trabajar e implementar en nuevas tecnologías.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-gift"></i>
								<div class="right-feat">
									<h4>Tons of shortcodes</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-check-circle"></i>
								<div class="right-feat">
									<h4>Excelente soporte</h4>
									<p>Proceso de soporte.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-tachometer"></i>
								<div class="right-feat">
									<h4>Seo Optimized</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-mobile"></i>
								<div class="right-feat">
									<h4>Fully Responsive</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>


			

			<div class="tabsat">

				<div class="container">

					<div class="row">

						<div class="col-md-6">

						<h1 class="leftmain-title">Pocas palabras sobre nosotros</h1>
						<div class="leftmain-border"></div>
								
								<div class="accordion">
									<div id="accordion-container"> 
									     <h2 class="accordion-header">Quienes somos?</h2> 
									     <div class="accordion-content"> 
									          <p>Es una empresa con mas de 16 años  de experiencia en el mercado. Ofrece el servicio de planificación y gestión de infraestructura  en el sector de las TICS.</p>
									     </div> 
									     <h2 class="accordion-header">Que hacemos?</h2> 
									     <div class="accordion-content"> 
									          <p>Presta asesoría en desarrollo, implementación y mejoras en sistemas de software  específicos.</p>
									     </div> 
									     
									</div>
								</div>
								<!-- End Accordion -->

						</div>

						<div class="col-md-6">
						
							<h1 class="leftmain-title">Nuestras habilidades</h1>
							<div class="leftmain-border"></div>

							<div class="skills-progress">
								
								<p>Wincc OA <span>85%</span></p>
								<div class="meter nostrips frontend">
									<span style="width: 85%"></span>
								</div>
								<p>Sistemas CCTV <span>100%</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 65%"></span>
								</div>
								<p>Cableado estructurado <span>93%</span></p>
								<div class="meter nostrips seo">
									<span style="width: 93%"></span>
								</div>
								<p>Desarrollo de software <span>90%</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 90%"></span>
								</div>
								<p>Itil<span>90%</span></p>
								<div class="meter nostrips seo">
									<span style="width: 100%"></span>
								</div>
							</div>

						</div>
							
					</div>

				</div>

			</div>
			<!-- End skills -->

			<div class="partners">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/chivor.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/costera.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/postobon.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/bolivar.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/ABB.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/fede.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End content -->
	
<!--FOOTER-->	
			
<%- include('./partials/footer.html'); %>
