
<!--Header-->
<%- include ('./partials/head.html') %>



<body class="main">
	
<%- include ('./partials/navigation.html') %>

<div class="mainContainer">
<!--Revolution Slider o banner principal-->
	<section class="SliderMain container-fluid ">
			<!-- START REVOLUTION SLIDER 4.5.95 fullwidth mode -->
			<div class="card bg-light row">

				<img src="images/Slider6.jpeg" class="mainSlide card-img" alt="portfolio_img6">
                
                 <!-- card title -->
				<h1 class="card-title">Enfocados en el <span class="color">Servicio</span></h1>
                
                <!-- card text -->
				<div class="card-img-overlay row">
					<p class="h4 card-text">Acompañamiento permanente en la implementación de sus proyectos <br>Personal altamente calificado y multi disciplinario <br>Cubrimos diferentes sectores para suplir sus necesidades</p>
							
					<div class="formating">
						<img class="img" id="opacitiTrue-md" src="images/cenix.png" class="img-fluid responsive" alt="logo" />
                    </div>
                    <div class="aboutMore-md aboutMore-sm divButton container">
                        <a class="h4 button-about" role="button" data-bs-toggle="button" href="#">Descubre más</a>
                    </div>	
				</div>
			</div>
	</section>
	
<!-- END REVOLUTION SLIDER -->

<!--Soluciones y Servicios-->
      <section class="container-fluid solution_services">

        <!--================ CARRUSEL    =================================-->

        <!--con indicadores-->
        <div id="content" class="container">
         
          <!-- ====================== Solucuibes y servicios tarjeta  ====================================-->

          <div class="row">


            <!-- Card del carrusel -->
            <div class="cardFormat-sm cardFormat-md cardFormat-lg container card " >

               <div class="container">
                    <h1 class="main-title">Soluciones y <span class="color">Servicios</span></h1>

                    <div class="main-border"></div>	
               </div>

              <!--Carrusel con controles  -->
              <!-- ==== Card Body ====-->
                <ul id="container contentItemCarrusel" class="slider card-body">
                  
                    <div class="contentCard-lg contentCard-md contentCard-sm">
                      <li class="itemCarrusel" id="itemCarrusel-1">

                        <!-- slides imagenes-->
                        <div class="item-image">
                          <img class="imagenCarrusel" src="images/Soluciones/tics370x250.jpg"  alt="..." width="430rem" height ="235rem">

                          <!--Button Prev, Next-->
                          <div class="flechasCarrusel">
                            <a href="#itemCarrusel-7">
                              <i class="carousel-control-prev-icon"></i>
                            </a>
                            <a href="#itemCarrusel-2">
                              <i class="carousel-control-next-icon"></i>
                            </a>
                          </div>

                        </div>

                        <!-- Contenido tarjeta-->	
                        <div class="textCarrusel">
                          <h5 class="card-title-Solucion">Soluciones y <span>Servicios</span></h5>
                          <p class="card-text">Ingenieria, diseño, desarrollo, suministro e implementación de soluciones de cableado estructurado, fibra óptica, seguridad electronica, telecomunicaciones, gestión de la información e inteligencia de negocios.</p>
                        </div>
                      </li>

                      <li class="itemCarrusel" id="itemCarrusel-2">


                        <!-- slides imagenes-->
                        <div class="item-image">
                          <img class="imagenCarrusel" src="images/Soluciones/Edificiosinteligentes370x250.jpeg" alt="" width="430rem" height ="235rem">

                          <!--Button Prev, Next-->
                          <div class="flechasCarrusel">
                            <a href="#itemCarrusel-1">
                              <i class="carousel-control-prev-icon"></i>
                            </a>
                            <a href="#itemCarrusel-3">
                              <i class="carousel-control-next-icon"></i>
                            </a>
                          </div>
                        </div>


                        <!-- Contenido tarjeta-->	
                        <div class="textCarrusel">
                          <h5 class="card-title">Edificios inteligentes</h5>
                          <p class="card-text">Ingenieria, diseño, desarrollo, suministro e implementación de sistemas de control de acceso, CCTV, comunicaciones, inmotica, sistemas de detección y extinción de incendios, iluminación y control de ambiente.</p>
                        </div>
                      </li>

                      <li class="itemCarrusel" id="itemCarrusel-3">


                        <!-- slides imagenes-->
                        <div class="item-image">
                          <img class="imagenCarrusel" src="images/Soluciones/Movilidad370x250.jpg" alt="" width="430rem" height ="235rem"> > 

                          <!--Button Prev, Next-->
                          <div class="flechasCarrusel">
                            <a href="#itemCarrusel-2">
                              <i class="carousel-control-prev-icon"></i>
                            </a>
                            <a href="#itemCarrusel-4">
                              <i class="carousel-control-next-icon"></i>
                            </a>
                          </div>

                        </div>


                        <!-- Contenido tarjeta-->	
                        <div class="textCarrusel">
                          <h5 class="card-title">Movilidad</h5>
                          <p class="card-text">Consultoría, ingeniería y diseños de sistemas enfocados al control y monitoreo de movilidad urbana e interurbana./p>
                        </div>
                      </li>


                      <li class="itemCarrusel" id="itemCarrusel-4">


                        <!-- slides imagenes-->
                        <div class="item-image">
                          <img class="imagenCarrusel" src="images/Soluciones/Seguridadvial370x250.jpg" alt="" width="430rem" height ="235rem">>

                          <!--Button Prev, Next-->
                          <div class="flechasCarrusel">
                            <a href="#itemCarrusel-3">
                              <i class="carousel-control-prev-icon"></i>
                            </a>
                            <a href="#itemCarrusel-5">
                              <i class="carousel-control-next-icon"></i>
                            </a>
                          </div>

                        </div>


                        <!-- Contenido tarjeta-->	
                        <div class="textCarrusel">
                          <h5 class="card-title">Seguridad vial</h5>
                          <p class="card-text">Consultoría, ingeniería y diseños de sistemas enfocados al control, monitoreo y registro de seguridad vial.</p>
                        </div>
                      </li>

                      <li class="itemCarrusel" id="itemCarrusel-5">


                        <!-- slides imagenes-->
                        <div class="item-image">
                          <img class="imagenCarrusel" src="images/Soluciones/software370x250.jpg" alt="" width="430rem" height ="235rem">>

                          <!--Button Prev, Next-->
                          <div class="flechasCarrusel">
                            <a href="#itemCarrusel-4">
                              <i class="carousel-control-prev-icon"></i>
                            </a>
                            <a href="#itemCarrusel-6">
                              <i class="carousel-control-next-icon"></i>
                            </a>
                          </div>

                        </div>


                        <!-- Contenido tarjeta-->	
                        <div class="textCarrusel">
                          <h5 class="card-title">Software</h5>
                          <p class="card-text">Ingenieria, diseño, desarrollo, suministro e implementación de soluciones de software ajustadas a los requerimientos de cada proyecto.</p>
                        </div>
                      </li>

                      <li class="itemCarrusel" id="itemCarrusel-6">


                        <!-- slides imagenes-->
                        <div class="item-image">
                          <img class="imagenCarrusel" src="images/Soluciones/IoT370x250.jpg" alt="" width="430rem" height ="235rem">>

                          <!--Button Prev, Next-->
                          <div class="flechasCarrusel">
                            <a href="#itemCarrusel-5">
                              <i class="carousel-control-prev-icon"></i>
                            </a>
                            <a href="#itemCarrusel-7">
                              <i class="carousel-control-next-icon"></i>
                            </a>
                          </div>

                        </div>


                        <!-- Contenido tarjeta-->	
                        <div class="textCarrusel">
                          <h5 class="card-title">IoT</h5>
                          <p class="card-text">Ingenieria, diseño, desarrollo, suministro e implementación de soluciones enfocadas a la conectividad de las personas con su entorno tecnológico.</p>
                        </div>
                      </li>

                      <li class="itemCarrusel" id="itemCarrusel-7">


                        <!-- slides imagenes-->
                        <div class="item-image">
                          <img class="imagenCarrusel" src="images/Soluciones/Energia370x250.jpg" alt="" width="430rem" height ="235rem">>

                          <!--Button Prev, Next-->
                          <div class="flechasCarrusel">
                            <a href="#itemCarrusel-6">
                              <i class="carousel-control-prev-icon"></i>
                            </a>
                            <a href="#itemCarrusel-1">
                              <i class="carousel-control-next-icon"></i>
                            </a>
                          </div>
                        </div>


                        <!-- Contenido tarjeta-->	
                        <div class="textCarrusel">
                          <h5 class="card-title">Energía</h5>
                          <p class="card-text">Ingeniería, diseño, suministro e implementación de proyectos de respaldo de energía.</p>
                        </div>
                      </li>
                    
                         <!--controles-->

                      <div id="contePuntos"class="container">
                        <a href="#itemCarrusel-1"></a>
                        <a href="#itemCarrusel-2"></a>
                        <a href="#itemCarrusel-3"></a>
                        <a href="#itemCarrusel-4"></a>
                        <a href="#itemCarrusel-5"></a>
                        <a href="#itemCarrusel-6"></a>
                        <a href="#itemCarrusel-7"></a>
                      </div>
                    </div>
                </ul>
            </div>
          </div>
        </div>
      </section>
	  <div class="borderButtonRed"></div>	
<!--End Soluciones y Servicios-->


<!-- our work portfolio -->
	<section class="containter-Portafolio container-fluid portafolio">

        <!--titulo-->
			<div class="titulo">
				<h1 class="main-title">Unidades de <span class="color"> negocio</span>
				</h1>

				<div class="main-border">
				</div>
					
				<p class="main-subtitle">Contamos con una organización eficiente para cubrir las necesidades de nuestros clientes. </p>
			</div>    

		<div class="contenedor">
            <div class="imagen actual">
                <img src="images/ProyectosSoluciones/Proyecyos y Soluciones.jpg" />
                <div class="texto">Lago Tahoe</div>
            </div>

            <div class="imagen">
                <img src="images/ProyectosSoluciones/Servicios.jpg" />
                <div class="texto">Parque Nacional Redwood</div>
            </div>

            <div class="imagen">
                <img src="images/ProyectosSoluciones/IR&D.jpg" />
                <div class="texto">Yellowstone</div>
            </div>

            <div class="imagen">
                <img src="images/ProyectosSoluciones/ingenieria.png" />
                <div class="texto">Parque Nacional Yosemite</div>
            </div>

            <a href="#" class="anterior" onclick="anterior();">&#10094;</a>
            <a href="#" class="siguiente" onclick="siguiente();">&#10095;</a>

            <div class="puntos">
                <span class="punto activo" onclick="mostrar(0);"></span>
                <span class="punto" onclick="mostrar(1);"></span>
                <span class="punto" onclick="mostrar(2);"></span>
                <span class="punto" onclick="mostrar(3);"></span>
            </div>
        </div>
	</section>
<!-- End Portfolio -->	

<!-- Our Services -->
	<section class="container-fluid ourServicies">
			<div class="container">
				<!-- Our Services -->
				<div class="services">

					<div class="row">

						<div class="col-md-3">

							<div class="service-item">
								
								<i class="fa fa-star"></i>
								<h1>Diseño de soluciones</h1>
								<p>Diseño e implementación de sistemas complejos, recursos capacitados y ceretificados.</p>
								
							</div>
							
						</div>
	
						<!-- end service item -->

						<div class="col-md-3">

							<div class="service-item">
								
								<i class="fa fa-gears"></i>
								<h1>Codigo de alta calidad </h1>
								<p>Implementación de lineamientos de desarrollo, codigo documentado y arquitectra definida</p>
								
							</div>
							
						</div>
						<!-- end service item -->

						<div class="col-md-3">

							<div class="service-item">
								
								<i class="fa fa-lightbulb-o"></i>
								<h1>Grandes ideas</h1>
								<p>Enfocados en la invación y desarrollo de nuevas tencnologias y sistemas.</p>
								
							</div>
							
						</div>
						<!-- end service item -->

						<div class="col-md-3">

							<div class="service-item">
								
								<i class="fa fa-support"></i>
								<h1>24/7 Soporte</h1>
								<p>Personal capacita para atención al cliente.</p>
								
							</div>
							
						</div>
						<!-- end service item -->
					</div>
					<!-- End Row -->

				</div>
				<!-- End Services -->
			</div>
			<!-- end container -->
	</section>
	<div class="borderButtonRed"></div>	
<!-- End Services -->

<!-- Features -->
	<section class="container-fluid featuresContent">
			<!-- Features -->
			<div class="features">
				<div class="container">
					<div class="row">
						<div class="col-md-6 mb20">
							<div class="feat-img">
								<img src="images/Logos/LOGO CYGNUS MODIFICADO.jpg" alt="">
							</div>
						</div>
						<div class="col-md-6 mb20">
							<h1 class="main-title">Por que <span class="color">somo los mejores</span></h1>
							<div class="feat-text mb30">
								<i class="fa fa-eye"></i>
								<div class="right-feat">
									<h4>Personal de alta calidad</h4>
									<p>Enfocados en el mejoramiento continuo de nuestro personal, implementación de politicas de certificacion y capacitación.</p>
								</div>
							</div>
							<div class="feat-text mb30">
								<i class="fa fa-pencil"></i>
								<div class="right-feat">
									<h4>Inovación</h4>
									<p>Implementación de nuevas tecnologias, crecimiento de nuestra area de inovación y desarrollo.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Features -->
	</section>
<!-- End Features -->

<!-- our work portfolio -->
	<section class="container-fluid onWorkPortafolio">
			<!-- our work portfolio -->
			<div class="">
				
				<div class="container">
					<h1 class="main-title">Ultimos <span class="color">proyectos</span></h1>
					<div class="main-border"></div>
					<p class="main-subtitle">Lo que hemos hecho</p>

					<div class="filters demo1">
						<div class="filter clearfix">
							<ul>
								<li><a href="#" class="active" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".class1">Infrastructura</a></li>
								<li><a href="#" data-filter=".class2">Sofware</a></li>
								<li><a href="#" data-filter=".class3">Consultoria</a></li>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="clearfix">
							<ul class="works filter-container home-filter clearfix">
								<li class="class1">
									<div class="overlay">
									    <img src="images/Proyectos/cctv.jpg"  alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Acueducto de Bogotá</h2>
									            <p>Instalación y desarrollo</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class1">
									<div class="overlay">
									    <img src="images/Proyectos/chivor.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Planta energia Chivor</h2>
									            <p>Soporte y mantenimiento</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class1">
									<div class="overlay">
									    <img src="images/Proyectos/meredi.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Meredi</h2>
									            <p>Instalación y mantenimiento</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="images/Logos/LOGO CYGNUS MODIFICADO.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Concesion Costera</h2>
									            <p>Cygnus sistema de administración vial</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="images/Proyectos/analitica.png" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Acueducto de Bogotá</h2>
									            <p>Sistema analíta Scada</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="images/banner/scada.png" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Acueducto de Bogotá</h2>
									            <p>Sistema Scada soporte y mantenimiento</p>
									        </div>
									    </div></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				<!-- 	<a href="#" class="learn-more">More works</a>  -->

							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work portfolio -->
			
	</section>
	<div class="borderButtonRed"></div>	
	
<!-- end our work portfolio -->

<!-- Testimonials -->
	<section class="container-fluid testimonials"> 
			<div class="clients">

				<div class="container">
					<h1 class="main-title">Sobre nuestra <span class="color">compañia</span></h1>
					<div class="main-border"></div>
					<p class="main-subtitle">Que dicen los cliente sobre nosotros</p>
				
					
					<div class="">
						<ul class="bxslider">
				          <li>
				          		<div class="test-content">
						            “I have never seen such a great quality. Good luck and keep it up! Now i’m going to rate this item 5 stars. Because it’s awesome”
						            <p><span>Alexander Samokhin</span> | CEO of company AS Design Group</p>
					            </div>
				          </li>
				          <li>
					            <div class="test-content">
						            “This HTML Theme is just awesome! I’ve never seen such a great design and attention to details. I will buy this template 999 times. Coz I think the author of this template deserve it!”
						            <p><span>Astrit Bublaku</span> | MANAGER at Kikirik</p>
					            </div>
				          </li>
				        </ul>
					</div>
				</div>
			</div>
			<!-- End Testimonials -->
	</section>
<!-- End Testimonials -->

<!-- Caracteristics of our Company -->
	<section class="container-fluid company">
			<div class="advantage">

				<div class="adv-title">
					<h1>Caracteristicas de nuestra compañia</h1>
				</div>

				<div class="container">
				
					<div class="row">
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-star"></i>
								<div class="right-feat">
									<h4>Diseño de sistemas complejos</h4>
									<p>Diseño, desarrollo y soporte de sistemas complejos.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-rocket"></i>
								<div class="right-feat">
									<h4>Sin limites</h4>
									<p>Personal capacita para trabajar e implementar en nuevas tecnologías.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-gift"></i>
								<div class="right-feat">
									<h4>Tons of shortcodes</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-check-circle"></i>
								<div class="right-feat">
									<h4>Excelente soporte</h4>
									<p>Proceso de soporte.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-tachometer"></i>
								<div class="right-feat">
									<h4>Seo Optimized</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-mobile"></i>
								<div class="right-feat">
									<h4>Fully Responsive</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
	</section>
	<div class="borderButtonRed"></div>	
<!-- End Caracteristics of our Company -->

<!-- skills -->
	<section class="container-fluid skills">
			<div class="tabsat">

				<div class="container">

					<div class="row">

						<div class="col-md-6">

						<h1 class="leftmain-title">Pocas palabras sobre nosotros</h1>
						<div class="leftmain-border"></div>
								
						<div class="accordion">
									<div id="accordion-container"> 
									     <h2 class="accordion-header">Quienes somos?</h2> 
									     <div class="accordion-content"> 
									          <p>Es una empresa con mas de 16 años  de experiencia en el mercado. Ofrece el servicio de planificación y gestión de infraestructura  en el sector de las TICS.</p>
									     </div> 
									     <h2 class="accordion-header">Que hacemos?</h2> 
									     <div class="accordion-content"> 
									          <p>Presta asesoría en desarrollo, implementación y mejoras en sistemas de software  específicos.</p>
									     </div> 
									     
									</div>
								</div>
								<!-- End Accordion -->

						</div>

						<div class="container col-md-6">
						
							<h1 class="leftmain-title">Nuestras habilidades</h1>
							<div class="leftmain-border"></div>

							<div class="skills-progress">
								
								<p>Wincc OA <span>85%</span></p>
								<div class="meter nostrips frontend">
									<span style="width: 85%"></span>
								</div>
								<p>Sistemas CCTV <span>100%</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 65%"></span>
								</div>
								<p>Cableado estructurado <span>93%</span></p>
								<div class="meter nostrips seo">
									<span style="width: 93%"></span>
								</div>
								<p>Desarrollo de software <span>90%</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 90%"></span>
								</div>
								<p>Itil<span>90%</span></p>
								<div class="meter nostrips seo">
									<span style="width: 100%"></span>
								</div>
							</div>

						</div>
							
					</div>

				</div>

			</div>
			<!-- End skills -->
	</section>
<!-- End skills -->

<!-- Customers or Partners-->
	<section class="container-fluid Customers">
			<div class="partners">
				<div class="container">
					<h1 class="main-title">Nuestros <span class="color">Clientes</span></h1>
					<div class="main-border"></div>	

			
					<div class="row">
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/chivor.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/costera.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/postobon.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/bolivar.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/ABB.jpg" alt=""></a>
						</div>
						<div class="col-md-2 col-sm-3">
							<a href="#"><img src="images/partners/fede.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End content -->
	</section>
<!-- End Customers or Partners-->	



<!--FOOTER-->	
			
<%- include('./partials/footer.html');-%>
