
@media only screen and (max-width: 750px){
 
.contenedor-md-lg{
    opacity:0;
}

.containter-Portafolio{
    display:grid;
    grid-template-columns: [col1]1fr[col2]1fr[col3]1fr[col4]1fr;
    grid-template-rows: [firstRow]1fr[row2];
    grid-auto-flow: column;
} 
    
/*Title for Section Portafolio*/
.titulo{
    margin-top:10%;
    height: auto;
    grid-row:firstRow;
    grid-column:col2/col3;
    justify-self: center;
}


.contenedor-md {
  position: relative;
  grid-column: col2/col3;
  grid-row: row2;
  width: 100vh;
  height: 50vh;
  background-color: black;
  border-radius: 15px;
}


.imagen {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

.imagen img {
  height: 100%;
  width: 80%;
  position: relative;
  left:50%;
  transform: translateX(-50%);
}
.texto {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 85%;
  color: white;
  font-weight: bold;
}

.contenedor a {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 36px;
  top: 50%;
  transform: translateY(-50%);
}
.siguiente {
  left: 97%;
}

.boton {
  position: absolute;
  top: 5%;
  left: 95%;
}

.puntos {
  position: absolute;
  top: 93%;
  width: 100%;
  text-align: center;
}
.punto {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
.punto:hover {
  cursor: pointer;
  background-color: gray;
}
.contenedor a:hover {
  color: gray;
}

.actual {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s;
}
.activo {
  background-color: gray;
}
}

@media only Screen and (min-width:750px) and (max-width: 1600px){
    



.containter-Portafolio{
    
    display:grid;
    grid-template-columns: [col1]1fr[col2]1fr[col3]1fr[col4]1fr;
    grid-template-rows: [firstRow]1fr[row2];
    grid-auto-flow: column;
    display:none;
} 
    
/*Title for Section Portafolio*/
.titulo{
    margin-top:10%;
    height: auto;
    grid-row:firstRow;
    grid-column:col2/col3;
    justify-self: center;
}


.contenedor-md {
  position: relative;
  grid-column: col2/col3;
  grid-row: row2;
  width: 100vh;
  height: 50vh;
  background-color: black;
  border-radius: 15px;

}


    

}

 @media only Screen and (min-width: 1600px){



.containter-Portafolio{
    
    display:grid;
    grid-template-columns: [col1]1fr[col2]1fr[col3]1fr[col4]1fr;
    grid-template-rows: [firstRow]1fr[row2];
    grid-auto-flow: column;
    display:none;
} 
    
/*Title for Section Portafolio*/
.titulo{
    margin-top:10%;
    height: auto;
    grid-row:firstRow;
    grid-column:col2/col3;
    justify-self: center;
    opacity:0;
}


.contenedor-md {
  position: relative;
  grid-column: col2/col3;
  grid-row: row2;
  width: 100vh;
  height: 50vh;
  background-color: black;
  border-radius: 15px;
 
}


}


