

/*Movile*/
@media only screen and (max-width: 720px){

body{
    font-family: "Century Gothic";
    background-color: #E0E0E0;
}   
.navegacion{
    position:relative;
    z-index: 1000;
}

#opacitiTrue-md{
    opacity: 0;
}

Section.SliderMain div.card div.card-img-overlay {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
    grid-auto-rows: minmax(100px, auto);
}

Section.SliderMain div.card h1.card-title {
    position: absolute;
    top:0%;
    left:0%;
    width: 80vh;
    height: 5vh;
    -webkit-text-stroke: 1px black;
    font-size: 3rem;
    color: #9E9E9E;
    font-weight: 700;
}

Section.SliderMain div.card h1.card-title strong {

    color: #AB000D;
    padding-left: 2%;
}

Section.SliderMain div.card div.card-img-overlay p.card-text {
  position: absolute;
  top:30%;
  left:2%;
  margin-left: 2vh;
  width: 81vh;
  height: 20vh;
  border: 1px solid rgba(128, 128, 128);
  display: flex;
  justify-content: left;
  font-size: 1rem;
  color: #EEEEEE;
  background-color:#c4c4c47e;
  border-radius: 15px;
}

Section.SliderMain div.card img{
    height: 39vh;
}

Section.SliderMain div.card div.card-img-overlay img {
    position:absolute;
    right: 20%;
    top:25%;
    height:20vh ;
    width: 20vh;
    background-color: #c4c4c47e;
    border-radius: 100%;
}

.SliderMain{
    position: relative;
    border: 3px solid salmon;
    object-fit: cover;
    opacity: 1;
    z-index: 900;
    height: 40vh;
}

Section.solution_services div.container div.row div.container ul.slider li.itemCarrusel div.textCarrusel h5.card-title {


}

Section.solution_services div.container div.row div.container ul.slider li.itemCarrusel div.textCarrusel p.card-text {
    
    border: 5px solid blue;
    position: relative;
    align-items: center;
    justify-content: justify;

}

.solution_services{
    position: relative;
    border: 3px solid gold;
    height: 90vh;
    margin-bottom: 0%;
    opacity: 1;
    z-index: 800;
}


.portafolio{
    position: relative;
    border: 3px solid blueviolet;
    opacity:1;
    z-index: 700;
}

.ourServicies{
    position: relative;
    border: 3px solid teal;
    opacity:1;
    z-index: 600;
}

.features {
    position: relative;
    border: 3px solid rgb(236, 168, 208);
    opacity:1;
    z-index: 500;
}

.onWorkPortafolio{
    position: relative;
    border: 3px solid rgb(206, 193, 16);
    opacity:1;
    z-index: 400;
}

.testimonials{
    position: relative;
    border: 3px solid rgb(226, 110, 43);
    opacity:1;
    z-index: 300;
}

.company {
    position: relative;
    border: 3px solid rgb(255, 0, 34);
    opacity:1;
    z-index: 200;
}

.skills{
    position: relative;
    border: 3px solid rgb(57, 56, 151);
    opacity:1;
    z-index: 100;
}

.Customers{
    position: relative;
    border: 3px solid blueviolet;
    opacity:1;
    z-index: 0;
}

.footer {
    position: relative;
    border: 3px solid rgb(17, 247, 189);
    opacity:1;
    z-index: -100;
}


#contentItemCarrusel{
    position: relative;
    /*border: 5px solid rgb(248, 0, 0);*/
    height: 70vh;
    width: auto;
}

.itemCarrusel{
    position: relative;
    align-items: center;
    height: auto;
    width: auto;
}


.item-image{
    position: absolute;
    top: 5%;
    height: 30vh;
    width: 55vh;
}

.imagenCarrusel{
    height:100%;
    width: 100%;
}

.flechasCarrusel {
    position:absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10%
}

.iconFlechas-D{
    position: absolute;
    display: flex;
    top: 38%;
    right: 5%;
    
}

.iconFlechas-I{
    position: absolute;
    display: flex;
    top: 38%;
    right: 95%;
    
}

.textCarrusel{
    position: absolute;
    position: absolute;
    top:30vh;
    height: 30vh;
    width: 55vh;
    background-color: rgb(255, 255, 255); 
}

.card-title{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    padding-bottom:5vh;
}

.card-text {
    padding: 2%;
    display: flex;
    color: rgb(77, 74, 74);
}


ul, li{
    list-style: none;
}

ul.slider{
    position: relative;
}

ul.slider li {
    position: absolute;
    opacity: 0;
    transition: 0.3s; 
    background-color: white;
}

ul.slider li img{
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}


a{
    text-decoration: none;
    color: rgb(68, 66, 66);
}

#contePuntos{
    position:relative;
    display: flex;
    justify-content: space-around;
    top: 60vh;
    right: 8%;
    height: 100%;
    width: 100%;
}

#contePuntos >a{
    display: inline-block;
    border-radius: 100%;
    font-size: 2rem;
    height:30px ;
    width: 30px;
    align-items: center;
    background-color:rgba(190, 3, 3, 0.6) ;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3) ;
}


.cardFormat-sm{
   padding-left: 10%; 
   height: 72vh;
}

#padreNav{
    position: relative;
}

.posicionar{
    position: absolute;
    top: 25%;
    left:85%;
}

.portafolio ul.filter-container{
    padding-left: 25%;
}

}
/*Desktop*/
@media only Screen and (min-width: 721px){

body{
    font-family: "Century Gothic";
    background-color: #E0E0E0;
}     
.navegacion{
    position:relative;
    z-index: 1000;
}

Section.SliderMain div.card div.card-img-overlay {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
    grid-auto-rows: minmax(100px, auto);
}

Section.SliderMain div.card h1.card-title {
    position: absolute;
    top:0%;
    left:0%;
    width: 80vh;
    height: 5vh;
    -webkit-text-stroke: 1px black;
    font-size: 3rem;
    color: #9E9E9E;
    font-weight: 700;
}

Section.SliderMain div.card h1.card-title strong {
    color: #AB000D;
    padding-left: 2%;
}

Section.SliderMain div.card div.card-img-overlay p.card-text {
  position: absolute;
  top:30%;
  left:2%;
  margin-left: 2vh;
  width: 80vh;
  height: 20vh;
  border: 1px solid rgba(128, 128, 128);
  display: flex;
  justify-content: left;
  font-size: 1.5rem;
  color: #EEEEEE;
  background-color:#c4c4c47e;
  border-radius: 15px;
  -webkit-text-stroke: 0.3px black;
}



Section.SliderMain div.card img.mainSlide{
    height: 39vh;
}


.img{
    position: absolute;
    top:30%;
    left:7%;
    width: 90%;
    z-index: 1970;
}


Section.SliderMain div.card div.card-img-overlay div {
    position:relative;
    left:100vh;
    top:2vh;
    height:20vh ;
    width: 20vh;
    background-color: #c4c4c47e;
    border-radius: 100%;
    z-index: 950;
}

.SliderMain{
    position: relative;
    border: 3px solid salmon;
    object-fit: cover;
    opacity: 1;
    z-index: 900;
    height: 40vh;
}

Section.solution_services div.container div.row div.container ul.slider li.itemCarrusel div.textCarrusel h5.card-title {


}

Section.solution_services div.container div.row div.container ul.slider li.itemCarrusel div.textCarrusel p.card-text {
    
    border: 5px solid blue;
    position: relative;
    align-items: center;
    justify-content: center;

}

.solution_services{
    position: relative;
    border: 3px solid gold;
    height: 90vh;
    margin-bottom: 0%;
    opacity: 1;
    z-index: 800;
}


.portafolio{
    position: relative;
    border: 3px solid blueviolet;
    opacity:1;
    z-index: 700;
}

.ourServicies{
    position: relative;
    border: 3px solid teal;
    opacity:1;
    z-index: 600;
}

.features {
    position: relative;
    border: 3px solid rgb(236, 168, 208);
    opacity:1;
    z-index: 500;
}

.onWorkPortafolio{
    position: relative;
    border: 3px solid rgb(206, 193, 16);
    opacity:1;
    z-index: 400;
}

.testimonials{
    position: relative;
    border: 3px solid rgb(226, 110, 43);
    opacity:1;
    z-index: 300;
}

.company {
    position: relative;
    border: 3px solid rgb(255, 0, 34);
    opacity:1;
    z-index: 200;
}

.skills{
    position: relative;
    border: 3px solid rgb(57, 56, 151);
    opacity:1;
    z-index: 100;
}

.Customers{
    position: relative;
    border: 3px solid blueviolet;
    opacity:1;
    z-index: 0;
}

.footer {
    position: relative;
    border: 3px solid rgb(17, 247, 189);
    opacity:1;
    z-index: -100;
}


#contentItemCarrusel{
    position: relative;
    /*border: 5px solid rgb(248, 0, 0);*/
    height: 70vh;
    width: auto;
}

.itemCarrusel{
    position: relative;
    align-items: center;
    height: auto;
    width: auto;
}


.item-image{
    position: absolute;
    top: 5%;
    height: 30vh;
    width: 55vh;
}

.imagenCarrusel{
    height:100%;
    width: 100%;
}

.flechasCarrusel {
    position:absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10%
}

.iconFlechas-D{
    position: absolute;
    display: flex;
    top: 38%;
    right: 5%;
    
}

.iconFlechas-I{
    position: absolute;
    display: flex;
    top: 38%;
    right: 95%;
    
}

.textCarrusel{
    position: absolute;
    position: absolute;
    top:30vh;
    height: 30vh;
    width: 55vh;
    background-color: rgb(255, 255, 255); 
}

.card-title{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    padding-bottom:5vh;
}

.card-text {
    padding: 2%;
    display: flex;
    color: rgb(77, 74, 74);
}


ul, li{
    list-style: none;
}

ul.slider{
    position: relative;
}

ul.slider li {
    position: absolute;
    opacity: 0;
    transition: 0.3s; 
    background-color: white;
}

ul.slider li img{
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}


a{
    text-decoration: none;
    color: rgb(68, 66, 66);
}

#contePuntos{
    position:relative;
    display: flex;
    justify-content: space-around;
    top: 60vh;
    right: 8%;
    height: 100%;
    width: 100%;
}

#contePuntos >a{
    display: inline-block;
    border-radius: 100%;
    font-size: 2rem;
    height:30px ;
    width: 30px;
    align-items: center;
    background-color:rgba(190, 3, 3, 0.6) ;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3) ;
}


.cardFormat-sm{
   padding-left: 7%; 
   height: 72vh;
}

#padreNav{
    position: relative;
}

.posicionar{
    position: absolute;
    top: 25%;
    left:85%;
}

.portafolio ul.filter-container{
    padding-left: 25%;
}

}



