
/*Movile*/
@media only screen and (max-width: 770px){
    
.SliderMain{
    
    border: 3px solid salmon;

}

.solution_services{
    position: relative;
    border: 3px solid gold;
    height: 75.4vh;
    margin-bottom: 0%;
}


.portafolio{
    
    border: 3px solid blueviolet;

}

.ourServicies{

    border: 3px solid teal;
   
}

.features {
    
}

.onWorkPortafolio{
   
}

.testimonials{
    
}

.company {
   
}

.skills{
    

}

.Customers{
   
}

.footer {
 
}

a{
    text-decoration: none;
    color: rgb(223, 163, 163);
    

}

#contentItemCarrusel{
    position: relative;
    border: 5px solid rgb(248, 0, 0);
    height: 55vh;
    width: auto;
}

.itemCarrusel{
   
    position: absolute;
    align-items: center;
    height: auto;
    width: auto;
}


.item-image{
    position: absolute;
    top: 5%;
    height: 30vh;
    width: 55vh;
}

.imagenCarrusel{
    height:100%;
    width: 100%;
}

.flechasCarrusel {
    position:absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10%

}

.iconFlechas-D{
    position: absolute;
    display: flex;
    top: 38%;
    right: 5%;
    
}

.iconFlechas-I{
    position: absolute;
    display: flex;
    top: 38%;
    right: 95%;
    
}

.textCarrusel{
    position: absolute;
    position: absolute;
    top:30vh;
    height: 20vh;
    width: 55vh;
    background-color: white; 
}

.card-title{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    
}

.card-text {
    padding-bottom: 10%;
}

ul, li{
    list-style: none;
}

ul.slider{
    position: relative;
}

ul.slider li {
    position: absolute;
    opacity: 0;
    transition: 0.5s; 
    background-color: white;   
}

ul.slider li img{
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

#itemCarrusel-1{
    background-color: rgba(77, 117, 236, 0.3) ;
}
#itemCarrusel-2{
    background-color: rgba(226, 152, 152,0.3) ;
}
#itemCarrusel-3{
    background-color: rgba(185, 218, 119,0.3) ;
}
#itemCarrusel-4{
    background-color: rgba(211, 182, 109,0.3) ;
}
#itemCarrusel-5{
    background-color: rgba(177, 109, 177,0.3) ;
}
#itemCarrusel-6{
    background-color: rgba(119, 42, 119,0.3) ;
}
#itemCarrusel-7{
    background-color: rgba(93, 145, 145,0.3) ;
}

.cardFormat-sm{
   padding-left: 5%; 
}
}
/*Desktop*/
@media only Screen and (min-width: 770px){
    .SliderMain{
    
        border: 3px solid salmon;
    
    }
    
    .solution_services{
        position: relative;
        border: 3px solid gold;
        height: 109.4vh;
        margin-bottom: 0%;
    }
    
    
    .portafolio{
        
        border: 3px solid blueviolet;
    
    }
    
    .ourServicies{
    
        border: 3px solid teal;
       
    }
    
    .features {
        
    }
    
    .onWorkPortafolio{
       
    }
    
    .testimonials{
        
    }
    
    .company {
       
    }
    
    .skills{
        
    
    }
    
    .Customers{
       
    }
    
    .footer {
     
    }
    
    
    #contentItemCarrusel{
        position: absolute;
        top:12%;
        height: 70vh;
        border: 1px solid blue;
        display:flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
 
    
    .imagenCarrusel{
        position: relative;
        height:100%;
        width: 100%;
        border: 2px solid gold;
    }
    
    .flechasCarrusel {
        position:absolute;
        height: 100%;
        top: 0%;
        width: 89.4%;
        color:turquoise;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .iconFlechas-D{
        position: absolute;
        display: flex;
        top: 38%;
        right: 5%;
        
    }
    
    .iconFlechas-I{
        position: absolute;
        display: flex;
        top: 38%;
        right: 95%;
        
    }
    
    .card-text {
        padding-bottom: 10%;
    }
    
    #itemCarrusel-1{
        background-color: rgba(101, 129, 212,0.3) ;
    }
    #itemCarrusel-2{
        background-color: rgba(226, 152, 152,0.3) ;
    }
    #itemCarrusel-3{
        background-color: rgba(185, 218, 119,0.3) ;
    }
    #itemCarrusel-4{
        background-color: rgba(211, 182, 109,0.3) ;
    }
    #itemCarrusel-5{
        background-color: rgba(177, 109, 177,0.3) ;
    }
    #itemCarrusel-6{
        background-color: rgba(119, 42, 119,0.3) ;
    }
    #itemCarrusel-7{
        background-color: rgba(93, 145, 145,0.3) ;
    }
    
}



