/*Navigation*/

.responsive {
  background-position: center;
  /*si aparece scrol abajo o contenido que no sale, muestra toda la imagen*/
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.formatImage {
  float: left;
  margin-bottom: 1vh;
  padding-right: 5%;
  width: 100%;
  height: auto;
  margin-right: 5%;
  overflow: hidden;
}


.headFormat {
  padding-bottom: 0%;
  padding-top: 2%;
  padding-left: 50%;
  padding-right: 5%;
}

.pintar {
  border: 5px solid blue;
}

nav {
  margin-top: 5%;
}