<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jomelle</title>

	<meta charset="utf-8">

	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:600,600italic,300italic,700italic,700,200,400,200italic,400italic,900,300' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">	

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="css/fullwidth.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />

	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">
	
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">



</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix" id="home">
			<!-- Static navbar -->
			<nav class="navbar navbar-default navbar-static-top">
				<div class="top-line">
					<div class="container">
						<div class="row">
							<ul class="top-socials col-md-4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
							<ul class="top-info col-md-5 col-md-offset-3">
								<li><a href="#"><i class="fa fa-envelope"></i>hello@samokhinteam.ru</a></li>
								<li><p><i class="fa fa-phone"></i>+1 (800) 5260 888 52 63</p></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end toplin
					
					e -->
				<nav class="navigation">
					<div class="container">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div>

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="drop"><a href="index.html">Home</a>
									<ul class="drop-down">
										<li><a href="home-creative.html">Home Creative 1</a></li>
										<li><a href="home-creative2.html">Home Creative 2</a></li>
										<li><a href="home-agency1.html">Home Agency 1</a></li>
										<li><a href="home-agency2.html">Home Agency 2</a></li>
										<li><a href="home-Landing.html">Home Landing</a></li>
									</ul>
								</li>
								<li class="drop"><a href="services.html">Services</a>
									<ul class="drop-down">
										<li class="drop"><a href="#">Go to Level 3</a>
											<ul class="drop-down level3">
												<li><a href="#">Level 3</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="about.html">About Us</a></li>
								<li class="drop active"><a href="#">Portfolio</a>
									<ul class="drop-down">
										<li><a href="portfolio-single.html">Portfolio Single</a></li>
										<li><a href="portfolio2column.html">Portfolio 2 Column</a></li>
										<li><a href="portfolio3column.html">Portfolio 3 Column</a></li>
										<li><a href="portfolio4column.html">Portfolio 4 Column</a></li>
									</ul>
								</li>
								<li class="drop"><a href="blog.html">Blog</a>
									<ul class="drop-down">
										<li><a href="blog-single.html">Blog Single</a></li>
									</ul>
								</li>
								<li class="drop"><a href="#">Pages</a>
									<ul class="drop-down">
										<li><a href="shortcodes.html">Shortcodes</a></li>
										<li><a href="typography.html">Typography</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="pricing.html">Pricing</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><div id="search">
									<img src="images/search.png" class="trigger" alt=""> 
								    <div class="search-bar">
								    <form action="#">
									    <input type="text" class="searchbox" placeholder="Search">
										<input type="submit" value="Go">
								    </form>      
									</div>
								</div></li>
							</ul>

						
						</div>
					</div>
				</nav>
			</nav>
		</header>
		<!-- End Header -->

		<div class="banner banner5">
			<div class="container">
				<h4>Prtfolio 3 Columns</h4>
				<div class="site_map">
					<a href="index.html">Home</a> / Prtfolio 3 Columns
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- content 
			================================================== -->
		<div id="content">
			

			<!-- our work portfolio -->
			<div class="our-work">
				
				<div class="container">

					<div class="filters port3">
						<div class="filter clearfix">
							<ul>
								<li><a href="#" class="active" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".class1">Web Design</a></li>
								<li><a href="#" data-filter=".class2">Interiors</a></li>
								<li><a href="#" data-filter=".class3">Branding</a></li>
								<li><a href="#" data-filter=".class4">Apps</a></li>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="clearfix">
							<ul class="filter-container home-filter clearfix">
								<li class="class1">
									<div class="overlay">
									    <img src="upload/portfolio/port4-1.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="upload/portfolio/port4-2.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class3">
									<div class="overlay">
									    <img src="upload/portfolio/port4-3.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class4">
									<div class="overlay">
									    <img src="upload/portfolio/port4-4.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class1">
									<div class="overlay">
									    <img src="upload/portfolio/port4-5.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="upload/portfolio/port4-6.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class3">
									<div class="overlay">
									    <img src="upload/portfolio/port4-7.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class4">
									<div class="overlay">
									    <img src="upload/portfolio/port4-8.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class1">
									<div class="overlay">
									    <img src="upload/portfolio/port4-5.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<a href="#" class="learn-more">More works</a>

							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work portfolio -->

			<div class="impression brown-bg">
				<div class="container">
					<h1>Are You Impressed?</h1>
					<p>This is call to action area. You can put any important text here</p>
					<a href="#" class="button-def">Get Started</a>
				</div>
			</div>


		</div>
		<!-- End content -->

		<!-- footer 
			================================================== -->
		<footer>
			<div class="inner-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 f-about">
							<h3>About Us</h3>
							<p>We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power.</p>
						</div>

						<div class="col-md-3 l-posts">
							<h3>Latest Posts</h3>
							<ul>
								<li>
									<div class="post-text">
										<h5>Jomelle is a simple and flexible</h5>
										<span>24 March, 2014  |  <a href="#">15 Comments</a></span>
									</div>
									<div class="clear"></div>
								</li>
								<li>
									<div class="post-text">
										<h5>Try our perfect solution right now</h5>
										<span>24 March, 2014  |  <a href="#">15 Comments</a></span>
									</div>
									<div class="clear"></div>
								</li>
							</ul>
						</div>

						<div class="col-md-3 f-contact">
							<h3>Get in touch</h3>
							<p><i class="fa fa-map-marker"></i>Little Lonsdale St, Talay <br>
							Victoria 8011 Philippines</p>
							<p><i class="fa fa-phone"></i> 1 888 2254 368 12 55</p>
							<a href="#"><i class="fa fa-envelope"></i>samokhinteam@gmail.com</a>
						</div>

						<div class="col-md-3 newsletter">
							<h3>Subscribe</h3>
							<p>Subscribe for updates to recieve fresh news. <br>
							No spam. We promise.</p>

							<form action="#">
								<input type="text" placeholder="Enter your E-mail">
								<input type="submit" value="">
							</form>

						</div>
					</div>
				</div>				

			</div>
			<!-- end contanir & inner-footer -->
			<div class="last-div">
				<div class="container">
					<div class="row">
						<div class="copyright">
							© 2014 Jomelle  | <a href="#">Designed by Alexander Samokhin</a>
						</div>

						<div id="back-to-top">
				          <a href="#top">Back to Top</a>
				        </div>


						<ul class="foot-socials">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
						</ul>
						<div class="clear"></div>
					</div>

				</div>
			</div>
		</footer>
		<!-- End footer -->

	
        </div>
        <!-- End Container -->




	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>
	<script type="text/javascript" src="js/waypoint.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/script.js"></script>


	

</body>
</html>