<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jomelle</title>

	<meta charset="utf-8">

	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:600,600italic,300italic,700italic,700,200,400,200italic,400italic,900,300' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">	

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="css/fullwidth.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />

	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">
	
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">



</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix" id="home">
			<!-- Static navbar -->
			<nav class="navbar navbar-default navbar-static-top">
				
				<div class="top-line">
					<div class="container">
						<div class="row">
							<ul class="top-socials col-md-4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
							<ul class="top-info col-md-5 col-md-offset-3">
								<li><a href="#"><i class="fa fa-envelope"></i>hello@samokhinteam.ru</a></li>
								<li><p><i class="fa fa-phone"></i>+1 (800) 5260 888 52 63</p></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end topline -->
				<nav class="navigation">
					<div class="container">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div>

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="drop"><a href="index.html">Home</a>
									<ul class="drop-down">
										<li><a href="home-creative.html">Home Creative 1</a></li>
										<li><a href="home-creative2.html">Home Creative 2</a></li>
										<li><a href="home-agency1.html">Home Agency 1</a></li>
										<li><a href="home-agency2.html">Home Agency 2</a></li>
										<li><a href="home-Landing.html">Home Landing</a></li>
									</ul>
								</li>
								<li class="drop active"><a href="services.html">Services</a>
									<ul class="drop-down">
										<li class="drop"><a href="#">Go to Level 3</a>
											<ul class="drop-down level3">
												<li><a href="#">Level 3</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="about.html">About Us</a></li>
								<li class="drop"><a href="#">Portfolio</a>
									<ul class="drop-down">
										<li><a href="portfolio-single.html">Portfolio Single</a></li>
										<li><a href="portfolio2column.html">Portfolio 2 Column</a></li>
										<li><a href="portfolio3column.html">Portfolio 3 Column</a></li>
										<li><a href="portfolio4column.html">Portfolio 4 Column</a></li>
									</ul>
								</li>
								<li class="drop"><a href="blog.html">Blog</a>
									<ul class="drop-down">
										<li><a href="blog-single.html">Blog Single</a></li>
									</ul>
								</li>
								<li class="drop"><a href="#">Pages</a>
									<ul class="drop-down">
										<li><a href="shortcodes.html">Shortcodes</a></li>
										<li><a href="typography.html">Typography</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="pricing.html">Pricing</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><div id="search">
									<img src="images/search.png" class="trigger" alt=""> 
								    <div class="search-bar">
								    <form action="#">
									    <input type="text" class="searchbox" placeholder="Search">
										<input type="submit" value="Go">
								    </form>      
									</div>
								</div></li>
							</ul>

						
						</div>
					</div>
				</nav>
			</nav>
		</header>
		<!-- End Header -->

		<div class="banner banner6">
			<div class="container">
				<h4>Services</h4>
				<div class="site_map">
					<a href="index.html">Home</a> / Services
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<!-- content 
			================================================== -->
		<div id="content">
			


			<div class="advantage">

				<div class="container">
				
					<div class="row">
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-star"></i>
								<div class="right-feat">
									<h4>Unique Design</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-rocket"></i>
								<div class="right-feat">
									<h4>Endless posibilites</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-gift"></i>
								<div class="right-feat">
									<h4>Tons of shortcodes</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-check-circle"></i>
								<div class="right-feat">
									<h4>Great Support</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-tachometer"></i>
								<div class="right-feat">
									<h4>Seo Optimized</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-mobile"></i>
								<div class="right-feat">
									<h4>Fully Responsive</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- End Adventages -->

			<section class="process">

				<div class="container">
					
					<h1 class="main-title">Our Process</h1>
					<div class="main-border"></div>

					<div class="process-content">

						<div class="row">

							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-file-text-o"></i></a><a href="#" target="_self"><h3>Planning</h3></a></div>
									<p></p>
								</div>

							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-lightbulb-o"></i></a><a href="#" target="_self"><h3>Idea</h3></a></div>
									<p></p>
								</div>
							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-image"></i></a><a href="#" target="_self"><h3>Design</h3></a></div>
									<p></p>
								</div>
							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-gear"></i></a><a href="#" target="_self"><h3>Development</h3></a></div>
									<p></p>
								</div>
							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-support"></i></a><a href="#" target="_self"><h3>Support</h3></a></div>
									<p></p>
								</div>
							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-eye"></i></a><a href="#" target="_self"><h3>SEO</h3></a></div>
									<p></p>
								</div>
							</div>
						</div>

					</div>
						
				</div>
				
			</section>

			

			<div class="tabsat white-bg">

				<div class="container">

					<div class="row">

						<div class="col-md-4">

						<h1 class="leftmain-title">Few Words About Us</h1>
						<div class="leftmain-border"></div>
								
								<div class="accordion">
									<div id="accordion-container"> 
									     <h2 class="accordion-header">We are Innovative</h2> 
									     <div class="accordion-content"> 
									          <p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore.</p>
									     </div> 
									     <h2 class="accordion-header">We are Progressive</h2> 
									     <div class="accordion-content"> 
									          <p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore.</p>
									     </div> 
									     <h2 class="accordion-header">We are The Best</h2> 
									     <div class="accordion-content"> 
									          <p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore.</p>
									     </div> 
									</div>
								</div>
								<!-- End Accordion -->

						</div>

						<div class="col-md-4">

							<h1 class="leftmain-title">Why We do This</h1>
							<div class="leftmain-border"></div>

							<div class="tabs-widget clearfix">
					    		<ul class="tab-links clearfix">
					    			<li class="active"><a href="#mission">Mission</a></li>
					    			<li class=""><a href="#philosophy">Philosophy</a></li>
					    			<li class=""><a href="#results">Results</a></li>
					    		</ul>

					    		<div id="mission" style="display: block;">
					    			<ul>
					    				<li>
					    					<p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					    					<p>Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
					    				</li>
					    			</ul>
					    		</div>

					    		<div id="philosophy" style="display: none;">
					    			<ul>
					    				<li>
					    					<p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					    					<p>Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
					    				</li>

					    			</ul>
					    		</div>

					    		<div id="results" style="display: none;">
					    			<ul>
					    				<li>
					    					<p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					    					<p>Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
					    				</li>

					    			</ul>
					    		</div>


							</div>
							<!-- End Tabs -->
						</div>

						<div class="col-md-4">
						
							<h1 class="leftmain-title">Our Skills</h1>
							<div class="leftmain-border"></div>

							<div class="skills-progress">
								
								<p>Photoshop <span>85%</span></p>
								<div class="meter nostrips frontend">
									<span style="width: 85%"></span>
								</div>
								<p>Wordpress <span>65%</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 65%"></span>
								</div>
								<p>Awesomeness <span>93%</span></p>
								<div class="meter nostrips seo">
									<span style="width: 93%"></span>
								</div>
								<p>Marketing <span>90%</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 90%"></span>
								</div>
								<p>HTML<span>100%</span></p>
								<div class="meter nostrips seo">
									<span style="width: 100%"></span>
								</div>
							</div>

						</div>
							
					</div>

				</div>

			</div>
			<!-- End Tabsat -->

			<div class="pricing">
				<div class="container">

					<div class="row">
					
						<div class="col-md-4">
							<div class="price-box">
								<p class="price-name">Basic</p>
								<div class="price-big">
									<p class="p-price">$ 9.99</p>
									<span class="p-small">per month</span>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Select Plan</button>
								</div>
							</div>
						</div>
					
						<div class="col-md-4">
							<div class="price-box price-active">
								<p class="price-name">standard</p>
								<div class="price-big">
									<p class="p-price">$ 99.99</p>
									<span class="p-small">per month</span>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Select Plan</button>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="price-box">
								<p class="price-name">Premium</p>
								<div class="price-big">
									<p class="p-price">$ 599.99</p>
									<span class="p-small">per month</span>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Select Plan</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Pricing -->

			<div class="impression">
				<div class="container">
					<h1>Are You Impressed?</h1>
					<p>This is call to action area. You can put any important text here</p>
					<a href="#" class="button-def">Get Started</a>
				</div>
			</div>

		</div>
		<!-- End content -->

		<!-- footer 
			================================================== -->
			<footer>
				<div class="inner-footer">
					<div class="container">
						<div class="row">
							<div class="col-md-3 f-about">
								<h3>Sobre nosotros</h3>
								<p>Es una empresa con mas de 16 años  de experiencia en el mercado.Ofrece el servicio de planificación y gestión de infraestructura  en el sector de las TICS.</p>
							</div>
							<div class="col-md-3 f-contact">
								<h3>Contacto</h3>
								<p><i class="fa fa-map-marker"></i>Bogotá, Colombia <br>
								Carrera 24 # 39b - 25 Oficina 203</p>
								<p><i class="fa fa-phone"></i> +571 281 0714</p>
								<a href="#"><i class="fa fa-envelope"></i>soporte@cenix.com.co</a>
							</div>
						</div>
					</div>				
	
				</div>
				<!-- end contanir & inner-footer -->
				
			</footer>
		<!-- End footer -->

	
        </div>
        <!-- End Container -->




	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>
	<script type="text/javascript" src="js/waypoint.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

	

</body>
</html>