
<!-- Preloader JavaScript Animation-->
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<!-- Container -->
<div class="container-fluid custom-Margenes" id="container">


	<!-- Header
		    ================================================== -->
	<header class="clearfix" id="home">
		
		<nav class="navegacion navbar  navbar-expand-lg  navbar-light bg-light fixed-top">
				
				<div id="padreNav" class="container-fluid">

					<!---Logo Principal--->
					<div class="row container-fluid">
							<!--======= LOGO ========-->
						<div class="container-fluid">
								<picture class="contpicture">
									<div class="container formatImage" style="width: 15rem;">
										<div>
											<a  href="/">
												<img src="images/cenix.png" class="img-fluid responsive" alt="logo" style="height:12vh;"/>
											</a>
										</div>
									</div>
								</picture>
						</div>	
					</div>
					
					<!--=== Boton Barra de navegacion =====-->
					<button class="button-format posicionar navbar-toggler  " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
						<span class="navbar-toggler-icon" style="height:3vh; width:3vh;"></span>
					</button>
						
					<!---Contenido off canvast navegacion--->
					<div class="row container ">
						<div class="col-lg-6 offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasRightLabel">

							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasRightLabel">
									<!--======= LOGO ========-->
									<div class="container-sm">
										<picture class="contpicture">
											<div class="container formatImage" style="width: 15rem;">
												<div class="container-fluid">
													<a href="#">
														<img src="images/cenix.png" class="img-fluid responsive" alt="logo" />
													</a>
												</div>
											</div>

										</picture>
									</div>
								</h5>
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							
							<div class="offcanvas-body">
									<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Nuestra empresa
											</a>
											<ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
												<li>
													<a class="dropdown-item" href="/about">Sobre Nosotros</a>
												</li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Unidades de Negocio
											</a>
											<ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
												<li>
													<a class="dropdown-item" href="/software">Software y Hardware</a>
												</li>
												<li>
													<a class="dropdown-item" href="/soluciones">Gestión y desarrollo de proyectos</a>
												</li>
												<li>
												</li>
												<li>
													<a class="dropdown-item" href="/proyectos">Proyectos</a>
												</li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Contacto
											</a>

											<ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
												<li>
													<a class="dropdown-item" href="/contact">Contacto</a>
												</li>
											</ul>
										</li>
									</ul>
							</div>
						</div>			
					</div>				
					
				</div>	
		</nav>
		<div class="borderButtonRed"></div>
	</header>
<!-- End Header -->
 