
<!-- Preloader JavaScript Animation-->
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<!-- Container -->
<div id="container">


	<!-- Header
		    ================================================== -->
	<header class="clearfix" id="home">



		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-static-top">

			<!-- end topline -->
			<nav class="navigation">


				<!--pie de cabecera-->

				
				<div class="top-line">
					<div class="container-lg">
						<div class="row">
							<ul class="top-socials col-md-4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
							<ul class="top-info col-md-5 col-md-offset-3">
								<li><a href="#"><i class="fa fa-envelope"></i>hello@samokhinteam.ru</a></li>
								<li><p><i class="fa fa-phone"></i>+1 (800) 5260 888 52 63</p></li>
							</ul>
						</div>
					</div>
				</div>
					<!-- end topline -->
				




				<figure class="contFigure">

					<div class="container formatImage" style="width: 30rem;">

						<div>
							<a href="/">
								<img src="images/cenix.png" class="responsive" alt="logo" />
							</a>
						</div>

					</div>

				</figure>

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active drop"><a href="/">Nuestra Empresa</a>
							<ul class="drop-down">
								<li><a href="/about">Quienes Somos?</a></li>
							</ul>
						</li>
						<li class="drop"><a href="/servicios">Unidades de Negocio</a>
							<ul class="drop-down">
								<li><a href="/software">Software y Hadware</a></li>
								<li><a href="/soluciones">Gestión y desarrollo de proyectos</a></li>
								<li><a href="/proyectos">Proyectos</a></li>
								<li><a href="/mantenimiento">Mantenimiento</a></li>
							</ul>
						</li>
						<li><a href="/contact">Contacto</a></li>
						<li><div id="search">
								<img src="images/search.png" class="trigger" alt="">
								<div class="search-bar">
									<form action="#">
										<input type="text" class="searchbox" placeholder="Search">
										<input type="submit" value="Go">
									</form>
								</div>
							</div></li>
					</ul>


				</div>
			</div>
		</nav>
	</nav>
</header>
<!-- End Header -->
